---
layout: default 
main-texts: 
 - heading: Bid & Proposal Support 
   writing: Finding the right Key Personnel for your bids is the difference between winning and losing. PTS bolts onto your Capture team to find the most compliant and compelling talent for your bids. We lead an intense recruitment campaign, conduct compliance checks, obtain market intelligence, and manage the Letter of Commitment process, allowing Capture leaders to focus on the capture, not the recruitment.
threes:
 - title: Vigorous Recruitment
   text: Our team works round-the-clock to find your Key Personnel. 
   li-1: Dedicated Account Executive for your search
   li-2: Entire team of Recruiters and Sourcers
   li-3: Global footprint with the ability to work around the clock 
 - title: Compliance Checks
   text: We work diligently to screen individuals we source. 
   li-1: Thorough vetting by Account Executive and team
   li-2: Rigorous compliance check to ensure they meet your needs and standards
   li-3: Mapping of PWS to Job Descriptions to ensure compliance
 - title: Managing Letter of Intent
   text: Once our team finds your Key Personnel, we secure a LOC to attach to your proposal. 
   li-1: Secure letter of commitment
   li-2: Keep candidates warm until award date
   li-3: Work diligently to replace drop outs
placements:
 - profile_image: /images/chris-holden.jpeg
   headshot-alt: 
   quote_html: I proudly state that I advocate Jake Frazer and his oustanding Precision Talent Solutons (PTS) in all areas of recruiting, teamwork and deveoping strategy on critical "Must Win" complex business development pursuits. If we need a critical business development person with experience, skills, and a proven winning record, we go to Jake and his PTS team. If we are bidding a large, complex DoD capture pursuit, we go to Jake for support in all areas to include leadership positions and Key Personnel.
   title: Chris Holden, Vice President Business Development
   logo: isoa-img.jpeg 
   logo-alt: 
seo:
   title: Precision Talent Solutions, Bid & Proposal Support
   description: Precision Talent Solutions offers Bid and Proposal support with candidate replacement.
   keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
--- 

{%include main-text.html%}


{%include services-three.html%}

<section class="padded" id="b-p">
	<div class="capped-width grid-spaceBetween">
		<h2 class="center p-b-5 col-12">Recent Bids</h2>
	<!-- {% for bid in page.bids %}

	<div class="grid flex-flip-alternate">
		<div class="col-5 padded-2">
			<img src="/images/{{bid.profile_image}}" class="profile-image img-max" alt="{{bid.headshot-alt}}">
       	</div>
       	<div class="col-7-middle padded-1">
           	<h3>{{person.name}}</h3> -->
           	<!-- <p class="blocktext">"{{bid.quote}}"</p>
           	<p class="emphasized">- {{bid.title}}</p>
            <img class="logo-placements" src="/images/{{bid.logo}}" alt="{{bid.logo-alt}}">
       	</div>
   	</div>

   	{% endfor %} -->
     <div class="col-5_sm-12 center">
      <ul class="left">
        <li>Kaiserslautern BOSS</li>
        <li>DiPSS - Baghdad Embassy Key Personnel</li>
        <li>USACE Task Force Safe</li>
        <li>Navy Research Data Scientists</li>
        <li>AFCAP IV Pricing and Key Personnel</li>
        <li>AFRICAP Vehicle Maintenance PMO</li>
        <li>Global Defense Reform Program (GDRP) Security Advisors</li>
      </ul>
    </div>
    <div class="col-5_sm-12 center">
    <ul class="left">
      <li>USAID South Sudan Embassy Facilities</li>
      <li>GAVI Immunication/Vaccine Consultants</li>
      <li>Global Health Supply Chain - ICL / PSA Laboratory </li>
      <li>DLA Subsistence Prime Vendor PMO</li>
      <li>MARSOC Key Personnel</li>
      <li>NAVFAC BOSS Key Personnel</li>
      <li>Korea Classified Facilities Engineers</li>
    </ul>
  </div>
 	</div>

  
</section>

{%include services-placement.html%}

{%include banner-2.html%}