---
layout: default 
main-texts: 
 - heading: Bid & Proposal Support 
   writing: Finding the right Key Personnel for your bids can be the difference between winning and losing. PTS bolts onto your Capture teams to find the most compliant and compelling talent for your bids. We lead an intense recruitment campaign, conduct compliance checks, obtain market intelligence, and manage the Letter of Commitment process, allowing Capture leaders to focus on the capture, not the recruitment.
bids:
 - profile_image: headshot.jpg
   headshot-alt: 
   quote: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
   title: Project Manager, ISOA
   logo: isoa-img.jpeg 
   logo-alt:
 - profile_image: headshot.jpg 
   headshot-alt: 
   quote: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
   title: Project Manager, ISOA
   logo: isoa-img.jpeg 
   logo-alt:
 - profile_image: headshot.jpg 
   headshot-alt: 
   quote: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
   title: Project Manager, ISOA
   logo: isoa-img.jpeg 
   logo-alt: 
seo:
   title: Precision Talent Solutions, Bid & Proposal Support
   description: Precision Talent Solutions offers Bid and Proposal support with candidate replacement.
   keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
--- 

{%include main-text.html%}


<section id="why-pts" class="padded grid-spaceAround center">
    <h2 class="col-12 p-b-5 p-t-2">What we can help you with</h2>
    <div class="col-3 why-pts">
        <h3 class="p-b-2">Vigorous Recruitment campaign</h3>
        <p>Our team works around the clock to find your Key Personnel. We assign a team of Recruiters and Sourcers led by an Account Executive to handle your mandate efficiently. With our global footprint, we work around the clock through the weekend to find suitable candidates. </p>
    </div>
    <div class="col-3 why-pts">
        <h3 class="p-b-2">In-Depth Compliance Checks</h3>
        <p>PTS works diligently to screen individuals we source. We run each candidate through a rigorous compliance check to ensure they meet your needs. An Account Executive will thoroughly vet candidates before presenting them to our clients.</p>
    </div>
    <div class="col-3 why-pts">
        <h3 class="p-b-2">Managing Letter of Commitment</h3>
        <p>Once our team finds your Key Personnel, we'll attain a LOC to attach to your proposal. While awaiting the award, our team will keep candidates warm. If a candidate drops out of the process at any point, we will work diligently to replace the individual. </p>
    </div>

</section>

<section class="padded">
	<div class="capped-width">
		<h2 class="center p-b-5">Recent Bids</h2>
	{% for bid in page.bids %}

	<div class="grid flex-flip-alternate">
		<div class="col-5 padded-2">
			<img src="/images/{{bid.profile_image}}" class="profile-image" alt="{{bid.headshot-alt}}">
       	</div>
       	<div class="col-7-middle padded-1">
           	<!-- <h3>{{person.name}}</h3> -->
           	<p class="blocktext">"{{bid.quote}}"</p>
           	<p class="emphasized">- {{bid.title}}</p>
            <img class="logo-placements" src="/images/{{bid.logo}}" alt="{{bid.logo-alt}}">
       	</div>
   	</div>

   	{% endfor %}
 	</div>
</section>


{%include banner-2.html%}