---
layout: default
title: Blog Page 
seo:
  title: Precision Talent Solutions, Blog Archive
  description: The Blog Archive on our website features career-centric articles for job seekers.
  social_image:
  twitter_card:
  keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-9 padded-05 center margin-b-1" id="main-text">
        <h2> Latest Posts </h2>
        <p class="blocktext">Precision Talent Solutions serves as a thought leader in the government contracting industry. Our
            thirty-plus team members of subject matter experts collaborate to create quarterly newsletters,
            program and contract updates, industry analyses, career insights, and more. Check out our blog to
            stay up to date on all things government contracting and talent acquisition.</p>
    </div>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
{%include banner.html%}


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

        {% for post in site.posts limit:12 offset:3 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

    </div>


    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded">
            <a class="button" href="/blog-archive"> See More </a>
        </div>
       
    {% endif %}

</section>

<hr class="col-12" id="blueline">