--- 
layout: default 
candidates:
 - name: Roxanne Kaufman
   photo_image: /uploads/roxanne-kaufman.webp
   headshot-alt: 
   title: Senior Vice President, ISOA 
   testimonial: PTS was there for every step of the process, making sure that I knew what to expect and following up with feedback. I highly recommend Jake and his team of professionals!
 - name: Anita Vick 
   photo_image: /uploads/anita-vick.jpeg
   headshot-alt:
   title: Sr. Director, Business Development, GardaWorld
   testimonial: I was approached by a recruiter from the PTS firm for a position that I didn't believe I was qualified to fill. Martyn Brooks, who works for Jake and is based in England, met with me nonetheless to see if we could find another position to discuss. The best interviewing process I have ever been part of and I am very excited about my new position at Gardaworld Federal Services.
 - name: Placeholder name 
   photo_image: mike.jpg
   headshot-alt:
   title: Some title, company 
   testimonial: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate natus temporibus quod accusantium! Iste, aspernatur autem. Aperiam omnis molestias ea sed, repellendus eius laboriosam aliquid rem provident corrupti quas reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestiae sapiente beatae explicabo velit. Aspernatur repudiandae et distinctio dolore saepe, debitis dicta voluptatibus consectetur quos, animi laborum, esse eveniet similique!
seo:
   title: Precision Talent Solutions, For candidates
   description: Upload your information on our website for career opportunities.
   keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
--- 

<section class="grid-centered padded center bg-image bg-structure bg-overlay">
    <div class="col-8_sm-12" id="main-text">
      <h1 class="center p-b-5">Candidates</h1>
      <p>PTS is disrupting the hyper-transactional nature of recruitment in the government contracting sector by building long-term relationships with our candidates. Our approach is to “treat our candidates like customers.” We provide proactive updates on recruitment status and personality assessment feedback. PTS team members maintain high-touch engagement with our candidates throughout the recruitment process. We share regular industry updates and job openings with current and former candidates, as we seek to be your career partners. We realize that we are not only representing the PTS brand, but also an extension of our customers' brands to the industry talent base.</p>
    </div>
</section>

<section class="padded grid-spaceAround center">
    <h2 class="col-12 p-b-5 p-t-2">We are with you for your career - not just a job!</h2>
    <div class="col-3_sm-12 why-pts">
        <h3 class="p-b-2">Complete Profile Assessment</h3>
        <p class="blocktext p-b-2rem">We'll help you create an in-depth profile outlining your skill set, personality assessment, work experience, and educational qualifications. Our talent acquisition professionals can answer your profile or job-specific questions.  </p>
    </div>
    <div class="col-3_sm-12 why-pts">
        <h3 class="p-b-2">Streamlined Application Process</h3>
        <p class="blocktext p-b-2rem">Our streamlined application process ensures you waste no time applying for a new career. We've created a customized approach designed specifically for government contracting. Our process makes it easy to use for your next position.   </p>
    </div>
    <div class="col-3_sm-12 why-pts">
        <h3 class="p-b-2">Lifelong Career Partners</h3>
        <p class="blocktext p-b-2rem">Working with PTS will increase your likelihood of getting hired. Our team of Account Executives, Recruiters, and Sourcers understands the importance of finding the right fit for candidates and customers. We work diligently to pair both parties in a mutually beneficial relationship.   </p>
    </div>

</section>



<section class="padded grid-spaceAround capped-section">
    <h2 class="col-12 p-b-5 p-t-2 center">Some of our placed candidates</h2>
    {%for member in page.candidates%}
		<div class="col-3_sm-12 center margin-sides team-member pointer mob-m-3" data-target="{{forloop.index}}"> 
            <img src="{{member.photo_image}}" class="profile-image" alt="{{member.headshot-alt}}">
            <h3 class="m-t-2">{{member.name}}</h3>
            <h4>{{member.title}}</h4>
        </div>
	{%endfor%}

    {%for popup in page.candidates%}
    <section class="popup" data-pop="{{forloop.index}}">
      <div class="grid-spaceBetween">
        <div class="col-5_sm-12">
          <img src="{{popup.photo_image}}" class="popup-photo img-team" alt="popup.headshot-alt"/>
        </div>
        <div class="col-5-middle">
            <h3>{{popup.name}}</h3>
            <h4>{{popup.title}}</h4>
            <p>"{{popup.testimonial}}"</p>
        </div>
        <div class="popupX">  
            <svg viewbox="0 0 100 100">
            <path d="M 0,0 L100,100" />
            <path d="M 100,0 L0,100" />
            </svg>
        </div>
      </div>
    </section>
    {%endfor%}
    <div class="popUpOverlay"></div>
</section>

<section class="padded grid-spaceAround center">
  <div class="col-5_sm-12 grid-spaceAround center">
    <h2 class="col-12 p-b-5 p-t-2">Check Out Recent Job Postings</h2>
    <p class="blocktext">Please review our current opportunities in government contracting, from a wide range of small, medium, and large companies!</p>
    <div class="col-6_md-8 m-t-2 mob-m-3">
        <a class="m-b-5 button center" href="#">View opportunities</a>
    </div>
  </div>
  <div class="col-5_sm-12 grid-spaceAround center">
    <h2 class="col-12 p-b-5 p-t-2">Build A Career Profile Today</h2>
    <p class="blocktext">We encourage anyone considering a career move to create a profile so we can contact you when the perfect opportunity arises!
    </p>
    <div class="col-6_md-8 m-t-2 center">
        <a class="m-b-5 button center" href="#">Build your profile</a>
    </div>
  </div>
</section>

{%include benefits.html%}

{%include banner-2.html%}

