--- 
layout: default 
candidates:
 - name: Placeholder name 
   photo_image: mike.jpg
   title: Some title, company 
   testimonial: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate natus temporibus quod accusantium! Iste, aspernatur autem. Aperiam omnis molestias ea sed, repellendus eius laboriosam aliquid rem provident corrupti quas reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestiae sapiente beatae explicabo velit. Aspernatur repudiandae et distinctio dolore saepe, debitis dicta voluptatibus consectetur quos, animi laborum, esse eveniet similique!
 - name: Placeholder name 
   photo_image: mike.jpg
   title: Some title, company 
   testimonial: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate natus temporibus quod accusantium! Iste, aspernatur autem. Aperiam omnis molestias ea sed, repellendus eius laboriosam aliquid rem provident corrupti quas reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestiae sapiente beatae explicabo velit. Aspernatur repudiandae et distinctio dolore saepe, debitis dicta voluptatibus consectetur quos, animi laborum, esse eveniet similique!
 - name: Placeholder name 
   photo_image: mike.jpg
   title: Some title, company 
   testimonial: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate natus temporibus quod accusantium! Iste, aspernatur autem. Aperiam omnis molestias ea sed, repellendus eius laboriosam aliquid rem provident corrupti quas reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestiae sapiente beatae explicabo velit. Aspernatur repudiandae et distinctio dolore saepe, debitis dicta voluptatibus consectetur quos, animi laborum, esse eveniet similique!
 - name: Placeholder name 
   photo_image: mike.jpg
   title: Some title, company 
   testimonial: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate natus temporibus quod accusantium! Iste, aspernatur autem. Aperiam omnis molestias ea sed, repellendus eius laboriosam aliquid rem provident corrupti quas reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestiae sapiente beatae explicabo velit. Aspernatur repudiandae et distinctio dolore saepe, debitis dicta voluptatibus consectetur quos, animi laborum, esse eveniet similique!
 - name: Placeholder name 
   photo_image: mike.jpg
   title: Some title, company 
   testimonial: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate natus temporibus quod accusantium! Iste, aspernatur autem. Aperiam omnis molestias ea sed, repellendus eius laboriosam aliquid rem provident corrupti quas reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestiae sapiente beatae explicabo velit. Aspernatur repudiandae et distinctio dolore saepe, debitis dicta voluptatibus consectetur quos, animi laborum, esse eveniet similique!
--- 

<section class="grid-centered padded blocktext bg-image bg-structure bg-overlay">
    <div class="col-8_sm-12">
      <h1 class="center p-b-5">Candidates</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat molestiae dolore et facere accusamus ex, eos architecto, dolorum reprehenderit odit maxime rerum consectetur suscipit accusantium! Accusamus voluptatibus eum atque consequatur!</p>
    </div>
</section>

<section class="padded grid-spaceAround center">
    <h2 class="col-12 p-b-5 p-t-2">We are with you for your career not just a job!</h2>
    <div class="col-3 why-pts">
        <h3 class="p-b-2">Be informed about every stage of the process</h3>
        <p class="blocktext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum exercitationem dicta molestias rem nam provident quam blanditiis, porro velit sapiente vitae facilis fuga sunt tenetur, deleniti est eum fugit optio!    </p>
    </div>
    <div class="col-3 why-pts">
        <h3 class="p-b-2">Get to know yourself</h3>
        <p class="blocktext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ea at voluptatum consequatur sapiente, pariatur maxime, odio, soluta atque explicabo enim beatae inventore amet totam? Cumque minima nesciunt molestias sit?    </p>
    </div>
    <div class="col-3 why-pts">
        <h3 class="p-b-2">Career coaching from our experts</h3>
        <p class="blocktext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minus neque magnam recusandae, quis maiores. Veniam natus placeat et necessitatibus distinctio, laudantium ex eligendi iste nulla ut exercitationem corporis molestias.    </p>
    </div>

</section>



<section class="padded grid-spaceAround">
    <h2 class="col-12 p-b-5 p-t-2 center">Some of our placed candidates</h2>
    {%for member in page.candidates%}
		<div class="col-2 center margin-sides team-member pointer" data-target="{{forloop.index}}"> 
            <img src="/images/{{member.photo_image}}">
            <h5 class="m-t-2">{{member.name}}</h5>
            <h6>{{member.title}}</h6>
        </div>
	{%endfor%}

    {%for popup in page.candidates%}
    <section class="popup" data-pop="{{forloop.index}}">
      <div class="grid-spaceBetween">
        <div class="col-5_sm-12">
          <img src="/images/{{popup.photo_image}}" class="popup-photo img-team" />
        </div>
        <div class="col-5-middle">
            <h3>{{popup.name}}</h3>
            <h5>{{popup.title}}</h5>
            <p>{{popup.testimonial}}</p>
        </div>
        <div class="popupX">  
            <svg viewbox="0 0 100 100">
            <path d="M 0,0 L100,100" />
            <path d="M 100,0 L0,100" />
            </svg>
        </div>
      </div>
    </section>
    {%endfor%}
    <div class="popUpOverlay"></div>
</section>

<section class="padded grid-spaceAround center capped-section">
    <h2 class="col-12 p-b-5 p-t-2">Gain access to top opportunities</h2>
    <p>The time you spend building a profile with us is well worth it because we give you access to all opportunities not just a tone company</p>
    <div class="col-3 m-t-2">
        <a class="m-b-5 button center" href="#">Build your profile</a>
    </div>
</section>

{%include benefits.html%}

{%include banner-2.html%}

