---
layout: default
threes:
   -
      title: Profile Assessment
      text: >-
         Our team maintains high-touch engagement with our candidates throughout
         the recruitment process. We ensure candidates receive timely and
         constructive feedback.
      li-1: In-depth profile outlining your relevant features
      li-2: Articulate writeup of skills and work experience
      li-3: >-
         Personality assessment detailing cognition and chance of leadership
         success
   -
      title: Easy Application Process
      text: >-
         PTS created an innovative application process to save our candidates
         time. It is designed to get your most relevant information without
         extracting unnecessary details.
      li-1: >-
         Streamlined application process ensures you waste no time applying for
         a new career
      li-2: Round-the-clock support service for application questions
      li-3: Job-specific questions tailored to fit your profile
   -
      title: Lifelong Career Partners
      text: >-
         PTS wishes to support you throughout your GovCon career. We'll help you
         find the right job and update you on industry trends, events, and
         opportunities.
      li-1: >-
         Share regular industry updates and job openings with current and former
         candidates
      li-2: >-
         Serve as an extension of our customers' brands to the industry talent
         base
      li-3: >-
         Understand the importance of finding the right fit for candidates and
         customers
placements:
   -
      profile_image: /uploads/mark-white.webp
      headshot-alt:
      quote_html: >-
         <p>"PTS <span class="blue">coordinated and were present for every
         meeting with the key stakeholders </span>and stayed in close contact
         through my first day and followed up 4-6 weeks after I started the new
         role to confirm with me that I had made the correct career decision.
         <span class="blue">It was an excellent experience working with
         PTS</span>."</p>
      title: Mark White, Senior Executive
      logo: isoa-img.jpeg
      logo-alt:
   -
      title: Anita Vick, Sr. Director, Business Development, GardaWorld
      profile_image: /uploads/anita-vick.jpeg
      headshot-alt:
      quote_html: >-
         <p>"I was approached by a recruiter from the PTS firm for a position
         that I didn't believe I was qualified to fill. Martyn Brooks, who works
         for Jake and is based in England, <span class="blue">met with me
         nonetheless to see if we could find another position to discuss</span>.
         The <span class="blue">best interviewing process I have ever been part
         of</span> and I am very excited about my new position at Gardaworld
         Federal Services."</p>
   -
      profile_image: /images/fuller.png
      headshot-alt:
      quote_html: >-
         <p>"I have worked with PTS and am thoroughly <span
         class="blue">impressed with their professionalism</span>, <span
         class="blue">industry knowledge</span>, and ability to match
         experienced candidates with great opportunities! True to their name,
         <span class="blue">Precision Talent Solutions is an outstanding group,
         making great opportunities meet with great people</span>, and vice
         versa! "</p>
      title: Matt Fuller, Senior Director of Pricing and Business Analyst
seo:
   title: Precision Talent Solutions, For candidates
   description: Upload your information on our website for career opportunities.
   keywords: >-
      government consulting, government contracting recruiters, contract
      recrutiment agencies, contractor recruitment agencies, executive
      employment agencies, employment agency for executives, executive
      recruitment agency, executives recruitment agency, recruitment agencies
      for executives, contract staffing agencies
---
<section class="grid-centered padded center bg-candidates white tall-60">
    <div class="col-8_sm-12-middle" id="main-text">
      <h1 class="center p-b-5">Candidates</h1>
      <p>PTS is disrupting the hyper-transactional nature of recruitment in the government contracting sector by building long-term relationships with our candidates. Our approach is to “treat our candidates like customers.” We provide proactive updates on recruitment status and personality assessment feedback. </p>
    </div>
</section>

<section class="p-t-2 grid-spaceAround center">
  <h2 class="col-12 p-b-2 blue p-t-2">Check Out Recent Job Postings</h2>
  <p class="center">Please review our current opportunities in government contracting, from a wide range of small, medium, and large companies!</p>
  <div class="col-6_md-8 m-t-2 mob-m-3">
      <a class="m-b-5 button center" href="https://jobs.pts.careers">View opportunities</a>
  </div>
</section>

<section id="why-pts" class="padded grid-spaceAround center li-padding">
  <h2 class="col-12 p-b-3 p-t-2 blue bold">We are with you for your career - not just a job!</h2>
  {%for item in page.threes%}
  <div class="col-4_sm-12 why-pts threes relative">
      <img class="img-max" src="/images/blank-.png" />
      <div class="fixed-three-sentence">
         <h3 class="title-three left light-blue bold">{{item.title}}</h3>
         <p class="line-height-inherit font-1-4">{{item.text}}</p>
         <ul class="font-1-4">
           <li class="font-1-4">{{item.li-1}}</li>
           <li class="font-1-4">{{item.li-2}}</li>
           <li class="font-1-4">{{item.li-3}}</li>
         </ul>
         </div>
  </div>
  {%endfor%}

</section>



<section class="padded grid-spaceAround capped-section">
    <h2 class="col-12 p-b-5 p-t-2 center blue">Some of our placed candidates</h2>
    {% for person in page.placements %}

	<div class="grid flex-flip-alternate">
		<div class="col-5_sm-12 padded-2">
			<img src="{{person.profile_image}}" class="profile-image img-max" alt="{{person.headshot-alt}}" />
       	</div>
       	<div class="col-7_sm-12-middle padded-1">
           	<!-- <h3>{{person.name}}</h3> -->
           	<div class="blocktext m-b-1-2 italic">{{person.quote_html}}</div>
           	<p>- {{person.title}}</p>
       	</div>
   	</div>

   	{% endfor %}
</section>



{%include benefits-candidates.html%}

{%include banner-2.html%}

