---
layout: default
images:
 - bg: ben-andy.jpg
 - bg: isoa-dc.jpg
 - bg: jake-ladiesedit.png
 - bg: jake-speaking.jpg 
 - bg: julie-andy.jpg
 - bg: selfiejpeg.jpg
 - bg: stuttgart.png
testimonials:
 - headshot_image:  gerrygalloway-website.jpeg
   text: Finding great IT talent is hard…finding cleared IT talent for a project in Germany is even tougher. We worked on filling a key leadership role with both internal recruiting resources and external agencies, but we were never able to find the right fit. We engaged the team at PTS in hopes of helping us solve this challenge. Their team jumped on the project with a thorough kickoff call, provided a very informative calibration list, and they were presenting candidates for interviews within just a couple of weeks. The first panel of 5 candidates was spot on, and we were able to move to final interviews quickly to pick a great talent. I would definitely recommend PTS to other companies that operate in the GovCon space, especially for highly technical IT roles on classified programs. 
   name: Director of Business Development, Serco-NA
 - headshot: howielind-website.jpeg 
   text: The ISOA Board of Directors and I brought in PTS to help identify candidates for a critical role within our organization. The PTS team engaged all the relevant stakeholders, collected necessary information beyond the position description, and worked directly with the Board to manage a complex search process. PTS penetrated the relevant professional associations in the sector and brought forward for consideration multiple qualified candidates. Their technology made assessing candidates easy, and they were hands-on even facilitating multiple rounds of in-person interviews to make sure we got the right talent. It is great to work with real industry insiders who specialize in talent for our sector. I highly recommend PTS.
   name: President, ISOA
 - headshot: rickgoundry-website.jpeg 
   text: PTS responded timely while supporting our company with filling a critical and time-sensitive technical position that allowed our firm to meet an important contractual obligation for what turned out to be difficult to fill internally. I would recommend PTS to any firm requiring support with filling any “Key/Niche” position in a methodical and timely manner. They have the unique software to deliver and a proven track-record of finding great talent when you need it!
   name: Director of International Operations, J&J Global Contingency Services 
 - headshot: johnhart-website.jpeg
   text: We have appreciated the opportunity to partner with Precision Talent Solutions (PTS). Their dedication to understanding who we are as a company along with their commitment to engaging and presenting high quality talent within our budget enabled us to quickly fill a critical senior leadership role on our Business Development team. PTS’s ability to communicate in a clear and timely way with both Valiant and candidates made the hiring process much more productive and less stressful. Calling on Precision Talent Solutions in the future to support our key hiring needs is a no brainer.
   name: Chief Growth Officer, Valiant Integrated Services
logos:
 - img_image: logo-accl.png
 - img_image: logo-acuity.png
 - img_image: logo-agility.png
 - img_image: ami-logo.png
 - img_image: ams-logo.png
 - img_image: logo-battele.png
 - img_image: logo-culmen.png
 - img_image: logo-ecolog.png
 - img_image: logo-isos.png
 - img_image: logo-jj.png
 - img_image: logo-johnsoncontrols.png
 - img_image: logo-khudairigroup.png
 - img_image: logo-kinggeorge.png
 - img_image: logo-louisberger.png
 - img_image: logo-mantech1.png
 - img_image: logo-sincerus.png
 - img_image: logo-ssi.png
 - img_image: logo-stantec.png
 - img_image: logo-torchai.png
 - img_image: logo-valiant.png
 - img_image: logo-worldfuel.png
---

<!---------------------- This is the container with the sliding photos --------->

<section id="homepegae-banner">
    <div class="slideshow-container">
        {%for image in page.images%}
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
        <!-- <img class="capped-img" src="/images/logo.png" style="width:100%"> -->
        
        <div class="bg-image bg-overlay-dark tall-80" style="background-image: url('/images/{{image.bg}}')"></div>
        
        <div class="center grid-spaceAround">
            <h1 class="banner-text col-12">Talent Solutions <br> Defense and Government contracting</h1>
            <p class="banner-paragraph col-12 mob-hide">Executive search and Recruitment solutions for the government contracting sector.</p>
            <!-- <a  class="center banner-button" href="#">Top Talent</a> -->
        </div>
        </div>
        {%endfor%}
    <script>
                let slideIndex = 0;
        showSlides();

        function showSlides() {
          let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
          slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 4000); // Change image every 2 seconds
        } 
    </script>
        <!-- <div class="mySlides fade">
            <div class="bg-image bg-structure"></div>
        <div class="banner-text">Caption Two</div>
        </div>
    
        <div class="mySlides fade">
        <div class="bg-image bg-structure"></div>
        <div class="banner-text">Caption Three</div>
        </div> -->

    </div>
    <hr class="col-12" id="blueline">

</section>

<!-------------------------------- Why PTS threes--------------------------->

<section id="why-pts" class="padded grid-spaceAround center">
    <h2 class="col-12 p-b-3 p-t-2">Why PTS?</h2>
    <p class="col-12 p-b-2">PTS is not your average Exec Search firm or recruitment agency. We are
        consultative partners helping our customers solve the most significant challenge of the
        industry, talent. </p>
    <div class="col-3_md-12 why-pts">
        <h3 class="p-b-2">Experience</h3>
        <p>With over 400 years of cumulative government contracting experience
            from C-Suite to the field, our team knows the programs and agencies driving our
            industry. We have mapped the competitors, and each of our 30+ team members
            bring their network to our customers.    </p>
    </div>
    <div class="col-3_md-12 why-pts">
        <h3 class="p-b-2">Technology</h3>
        <p> PTS is revolutionizing recruitment by leveraging disruptive technology
            to include video interviews and personality assessments with a chance of leadership
            success predictor, cognitive assessment, functional fit, 9-block predictor, and
            technical scorecards. Our virtual assessment center increases hiring quality and cuts
            overall costs. We invest heavily in our sourcing technology, including dozens of
            subscriptions to LinkedIn Recruiter, Clearance Jobs, Indeed, and X-Ray.   </p>
    </div>
    <div class="col-3_md-12 why-pts">
        <h3 class="p-b-2">Philosophy</h3>
        <p>Our recruiters understand the importance of building the right teams in
            this industry, as many of us served as hiring managers before PTS. We start every
            team meeting with the phrase “treat your candidates like customers”. Our
            philosophy towards empathetic recruitment personifies our core values of integrity,
            communication, respect, initiative, and added value.   </p>
    </div>

</section>

<!------------------------- Stairs and video----------------------------------->

<section id="video-teamphoto" class="grid-spaceAround padded center">
    <div class="col-5_sm-9" id="stairs-container">
        <img class="img-stairs" src="/images/stairs-photo.png" loading="lazy">
    </div>
    <div class="m-r-6 col-3_md-12-middle p-t-2">
        <p class="p-b-5 blocktext m-t-2">PTS delivers talent acquisition services for Defense, Diplomacy, Aid &amp; Development, and Tech IC in government contracting. Our team of industry professionals holds extensive operations and management experience.  </p>
        <p class="p-b-5 blocktext m-t-5">When you work with PTS, you&#39;re deploying a
            group of subject matter experts with expansive networks. PTS team members have the distinct
            advantage of previously serving in most of the roles we fill.</p>
        <a class="m-t-6 m-b-5 button center" href="#">Top talent</a>
    </div>
</section>

<section class="grid-spaceAround padded">
    <div class="m-r-6 col-3_md-12-middle p-t-2 m-l-7">
        <p class="p-b-5 blocktext m-t-2">At Precision Talent Solutions, we offer a unique solution to your talent needs. Our technology and experience allow us to find the best candidates saving you time and money. The technology and processes we employ result in the following: </p>
        <!-- <a class="m-b-5 button center m-l-5" href="#">Top talent</a> -->
    </div>
    <!-- <div class="col-5_md-12 embed-container">
        <iframe src="/images/pts-video.mp4" frameborder="0" allowfullscreen></iframe>
        <video width="560" height="315" poster="/images/video-cover.jpeg" frameborder="0" allowfullscreen controls>
            <source src="/images/pts-video.mp4" type="video/mp4">
        </video>
    </div> -->
    <div class="col-6_sm-12">
        <div class="embed-container">
    
            <video width="100%" height="100%" poster="/images/video-cover.jpeg" frameborder="0" allowfullscreen controls>
                <source src="/images/pts-video.mp4" type="video/mp4">
            </video>
    
        </div>
    </div>
    
</section>

<!----------------- ISOA, VOSB, Inc -------------------------------------------->

<section class="grid-spaceBetween padded capped-section">
    <div class="col-5 center max-20">
        <img class="rounded" src="/images/isoa-img.jpeg" loading="lazy">
    </div>
   
    <div data-aos="fade-left" class="col-5-middle justify centered-p m-b-11">
        <p class="capped-text">PTS holds membership in the International Stability Operations
            Association (ISOA) where our President, Jake Frazer, serves on the Board of Directors.</p>
    </div>
    
    <div class="col-5-middle justify centered-p">
        <p data-aos="fade-right" class="capped-text">Our company is Veteran founded and owned. We value
            those who served our country and its allies. Roughly 1/3 of our employees served in the U.S.
            or European military.</p>
    </div>
    <div class="col-5 center m-t-6 max-20">
        <img src="/images/vosb-img.png" loading="lazy">
    </div>
    
    <div class="col-5 center m-t-6 max-20">
        <img class="rounded" src="/images/inc.png" loading="lazy">
    </div>
    <div class="col-5-middle justify centered-p">
        <p data-aos="fade-left" class="capped-text p-t-5">PTS is part of an elite group of
            entrepreneurially inspired companies with strong ties to technology. In 2022, our PTS ranked
            4,675 as the fastest-growing company in America. </p>
    </div>
</section>

<!-------------- Global Presence graphic -------------------------------------------->

<section class="padded grid capped-width center">
    <h2 class="col-12 p-b-5 p-t-2">Global Presence</h2>
    <img src="/images/map.png">
</section>

<!-------------------------- Featured blog loop ------------------------------>
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-12 padded-05 center margin-b-1">
        <h2> Featured Posts </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

            <div class="col-4_md-6_sm-11 post-item padded-05">
                <div class="bg-image max-height-25 square" style="background-image:url( '{{ post.featured_image }}' );"></div>
                <div class="padded-1">

                    
                    <a href="/{{post.category-link}}"> 
                        {% for item in post.categories %}<span class="tag"> {{item}} </span></a>
                    {% endfor %}
                    
                    <a href="{{ post.url }}">
                        <h2 class="margin-t-1"> {{ post.title }} </h2>
                    </a>
                    <p> {{ post.description }} </p>
                    <a href="{{ post.url }}" class="subtle-button"> Read More </a>
                </div>
            </div>

        {% endfor %}

    </div>

</section>

<!------------------ Our Clients logo ---------------------------------------->

<section class="grid-spaceBetween padded capped-width">
    <h2 class="col-12 p-b-5 center p-t-2">Our Clients</h2>
    {%for logo in page.logos%}
    <div class="col-2_md-3 logos">
        <img src="/images/{{logo.img_image}}" loading="lazy">
    </div>
    {%endfor%}
    </div> 
</section>

<!-- ---------------------------------------- SLider testimonial ---------------------------------------- -->
  
<section class="padded bg-kosovoteam bg-image tall-90">
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.testimonials%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-8-middle" id="team-testimonial">
            <img src="/images/{{testimonial.headshot_image}}" class="profile-small">
        </div>
        <div class="col-12 padded" id="testimonial-text">
        <p>
            {{testimonial.text}} </p>
        <p>  <em> - {{testimonial.name}} </em> </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>      
            


{%include banner.html%}

<!-- <section id="banner">
    <div class="bg-image bg-structure center">
        <p class="main-banner-text">Secure Top Talent Today</p>
        <a class="m-b-5 button center" href="#">Contact Us</a>
    </div>
</section> -->