---
layout: default
images:
 - bg: ben-andy.jpg
 - bg: isoa-dc.jpg
 - bg: jake-ladies.jpg 
 - bg: jake-speaking.jpg 
 - bg: julie-andy.jpg
 - bg: selfiejpeg.jpg
 - bg: stuttgart.jpg
testimonials:
 - headshot_image:  gerrygalloway-website.jpeg
   text: Finding great IT talent is hard…finding cleared IT talent for a project in Germany is even tougher. We worked on filling a key leadership role with both internal recruiting resources and external agencies, but we were never able to find the right fit. We engaged the team at PTS in hopes of helping us solve this challenge. Their team jumped on the project with a thorough kickoff call, provided a very informative calibration list, and they were presenting candidates for interviews within just a couple of weeks. The first panel of 5 candidates was spot on, and we were able to move to final interviews quickly to pick a great talent. I would definitely recommend PTS to other companies that operate in the GovCon space, especially for highly technical IT roles on classified programs. 
   name: Director of Business Development, Serco-NA
 - headshot: howielind-website.jpeg 
   text: The ISOA Board of Directors and I brought in PTS to help identify candidates for a critical role within our organization. The PTS team engaged all the relevant stakeholders, collected necessary information beyond the position description, and worked directly with the Board to manage a complex search process. PTS penetrated the relevant professional associations in the sector and brought forward for consideration multiple qualified candidates. Their technology made assessing candidates easy, and they were hands-on even facilitating multiple rounds of in-person interviews to make sure we got the right talent. It is great to work with real industry insiders who specialize in talent for our sector. I highly recommend PTS.
   name: President, ISOA
 - headshot: rickgoundry-website.jpeg 
   text: PTS responded timely while supporting our company with filling a critical and time-sensitive technical position that allowed our firm to meet an important contractual obligation for what turned out to be difficult to fill internally. I would recommend PTS to any firm requiring support with filling any “Key/Niche” position in a methodical and timely manner. They have the unique software to deliver and a proven track-record of finding great talent when you need it!
   name: Director of International Operations, J&J Global Contingency Services 
 - headshot: johnhart-website.jpeg
   text: We have appreciated the opportunity to partner with Precision Talent Solutions (PTS). Their dedication to understanding who we are as a company along with their commitment to engaging and presenting high quality talent within our budget enabled us to quickly fill a critical senior leadership role on our Business Development team. PTS’s ability to communicate in a clear and timely way with both Valiant and candidates made the hiring process much more productive and less stressful. Calling on Precision Talent Solutions in the future to support our key hiring needs is a no brainer.
   name: Chief Growth Officer, Valiant Integrated Services
logos:
 - img_image: inc.png 
 - img: inc.png 
 - img: inc.png
 - img: inc.png 
 - img: inc.png
 - img: inc.png
 - img: inc.png 
 - img: inc.png 
 - img: inc.png
 - img: inc.png
 - img: inc.png 
 - img: inc.png 
 - img: inc.png
 - img: inc.png 
 - img: inc.png
 - img: inc.png
 - img: inc.png 
 - img: inc.png 
 - img: inc.png
 - img: inc.png
---

<!---------------------- This is the container with the sliding photos --------->

<section id="homepegae-banner">
    <div class="slideshow-container">
        {%for image in page.images%}
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
        <!-- <img class="capped-img" src="/images/logo.png" style="width:100%"> -->
        
        <div class="bg-image bg-overlay-dark tall-80" style="background-image: url('/images/{{image.bg}}')"></div>
        
        <div class="center grid-spaceAround">
            <h1 class="banner-text col-12">Talent Solutions <br> Defense and government contracting</h1>
            <p class="banner-paragraph col-12">A call to action to something.</p>
            <!-- <a  class="center banner-button" href="#">Top Talent</a> -->
        </div>
        </div>
        {%endfor%}
    <script>
                let slideIndex = 0;
        showSlides();

        function showSlides() {
          let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
          slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 4000); // Change image every 2 seconds
        } 
    </script>
        <!-- <div class="mySlides fade">
            <div class="bg-image bg-structure"></div>
        <div class="banner-text">Caption Two</div>
        </div>
    
        <div class="mySlides fade">
        <div class="bg-image bg-structure"></div>
        <div class="banner-text">Caption Three</div>
        </div> -->

    </div>
    <hr class="col-12" id="blueline">

</section>

<!-------------------------------- Why PTS threes--------------------------->

<section id="why-pts" class="padded grid-spaceAround center">
    <h2 class="col-12 p-b-5 p-t-2">Why PTS?</h2>
    <p class="col-12">PTS is so much more than an exec search firm or an agency. We are consultative partners helping our customers solve the greatest challenge in the industry…talent. </p>
    <div class="col-3_md-12 why-pts">
        <h3 class="p-b-2">Experience</h3>
        <p>With over 400 years of cumulative government contracting experience from the C-Suite to the field, our team knows the programs/agencies that drive our industry. We have mapped the competitors, and each of our 30+ team members bring our own network to our customers.    </p>
    </div>
    <div class="col-3_md-12 why-pts">
        <h3 class="p-b-2">Technology</h3>
        <p>PTS is revolutionizing recruitment by leveraging disruptive technology to include video interview, personality assessment, chance of leadership success predictor, cognitive assessment, functional fit, and technical scorecards. Our “virtual assessment center” reduces time-to-hire by up to 70%, increases hiring quality, and cuts overall hiring costs. We have also invested heavily recruitment technology to include dozens of subscriptions to LinkedIn Recruiter, ClearanceJobs, Devex, XXXX, XXX.     </p>
    </div>
    <div class="col-3_md-12 why-pts">
        <h3 class="p-b-2">Philosophy</h3>
        <p>Just like our hiring managers, we have built teams in these same markets…so we know the importance of hiring the right talent. We also understand the perspective of our candidates and strive to treat them like customers. Our philosophy towards empathetic recruitment personifies our core values of integrity, communication, respect, initiative, and added value.    </p>
    </div>

</section>

<!------------------------- Stairs and video----------------------------------->

<section id="video-teamphoto" class="grid-spaceAround padded center">
    <div class="col-5" id="stairs-container">
        <img class="img-stairs" src="/images/team-stairs.jpg">
    </div>
    <div class="m-r-6 col-3_md-12-middle p-t-2">
        <p class="p-b-5 blocktext m-t-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam cumque et ullam reprehenderit doloribus, labore eligendi minima exercitationem nihil beatae. </p>
        <p class="p-b-5 blocktext m-t-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptatem, mollitia magni molestias culpa assumenda porro sapiente odio vitae sunt delectus provident eligendi veritatis libero?</p>
        <a class="m-t-6 m-b-5 button center" href="#">Top talent</a>
    </div>
</section>

<section class="grid-spaceAround padded">
    <div class="m-r-6 col-3_md-12-middle p-t-2 m-l-7">
        <h3>Lorem ipsum id</h3>
        <p class="p-b-5 blocktext m-t-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam cumque et ullam reprehenderit doloribus, labore eligendi minima exercitationem nihil beatae. </p>
        <!-- <a class="m-b-5 button center m-l-5" href="#">Top talent</a> -->
    </div>
    <!-- <div class="col-5_md-12 embed-container">
        <iframe src="/images/pts-video.mp4" frameborder="0" allowfullscreen></iframe>
        <video width="560" height="315" poster="/images/video-cover.jpeg" frameborder="0" allowfullscreen controls>
            <source src="/images/pts-video.mp4" type="video/mp4">
        </video>
    </div> -->
    <div class="col-6_sm-12">
        <div class="embed-container">
    
            <video width="100%" height="100%" poster="/images/video-cover.jpeg" frameborder="0" allowfullscreen controls>
                <source src="/images/pts-video.mp4" type="video/mp4">
            </video>
    
        </div>
    </div>
    
</section>

<!----------------- ISOA, VOSB, Inc -------------------------------------------->

<section class="grid-spaceBetween padded capped-section">
    <div class="col-5 center max-20">
        <img class="rounded" src="/images/isoa-img.jpeg">
    </div>
   
    <div data-aos="fade-left" class="col-5-middle justify centered-p m-b-11">
        <p class="capped-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, deserunt inventore pariatur!</p>
    </div>
    
    <div class="col-5-middle justify centered-p">
        <p data-aos="fade-right" class="capped-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, deserunt inventore pariatur!</p>
    </div>
    <div class="col-5 center m-t-6 max-20">
        <img src="/images/vosb-img.png">
    </div>
    
    <div class="col-5-middle center m-t-6 max-20">
        <img class="rounded" src="/images/inc.png">
    </div>
    <div class="col-5-middle justify centered-p">
        <p data-aos="fade-left" class="capped-text p-t-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, deserunt inventore pariatur! Lorem ipsum </p>
    </div>
</section>

<!-------------- Global Presence graphic -------------------------------------------->

<section class="padded grid capped-width center">
    <h2 class="col-12 p-b-5 p-t-2">Global Presence</h2>
    <img src="/images/map.png">
</section>

<!-------------------------- Featured blog loop ------------------------------>
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-12 padded-05 center margin-b-1">
        <h2> Featured Posts </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

            <div class="col-4_md-11 post-item padded-05">
                <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
                <div class="padded-1">

                    
                    <a href="/{{post.category-link}}"> 
                        {% for item in post.categories %}<span class="tag"> {{item}} </span></a>
                    {% endfor %}
                    
                    <a href="{{ post.url }}">
                        <h2 class="margin-t-1"> {{ post.title }} </h2>
                    </a>
                    <p> {{ post.description }} </p>
                    <a href="{{ post.url }}" class="subtle-button"> Read More </a>
                </div>
            </div>

        {% endfor %}

    </div>

</section>

<!------------------ Our Clients logo ---------------------------------------->

<section class="grid-spaceBetween padded capped-width">
    <h2 class="col-12 p-b-5 center p-t-2">Our Clients</h2>
    {%for logo in page.logos%}
    <div data-aos="flip-left" class="col-2_md-3 logos">
        <img src="/images/{{logo.img_image}}">
    </div>
    {%endfor%}
    </div> 
</section>

<!-- ---------------------------------------- SLider testimonial ---------------------------------------- -->
  
<section class="padded bg-kosovoteam bg-image tall-90">
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.testimonials%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-9-middle" id="team-testimonial">
            <img src="/images/{{testimonial.headshot_image}}" class="profile-small">
        </div>
        <div class="col-12 padded">
        <p>
            {{testimonial.text}} </p>
        <p>  <em> - {{testimonial.name}} </em> </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>      
            


{%include banner.html%}

<!-- <section id="banner">
    <div class="bg-image bg-structure center">
        <p class="main-banner-text">Secure Top Talent Today</p>
        <a class="m-b-5 button center" href="#">Contact Us</a>
    </div>
</section> -->