--- 
layout: default
customers:
 - headshot_image: /uploads/glen-schuhmacher.webp
   headshot-alt: 
   text: PTS is a strategic partner I can rely on to help us bid and win. In my 30+ years of experience, I have not seen a company that so proactively supports the niche talent needs for our industry like PTS.
   name: Glen Schuhmacher
 - headshot_image: /uploads/howie-lind.webp
   headshot-alt:  
   text: PTS' technology made assessing candidates easy, and they were hands-on even facilitating multiple rounds of in-person interviews to make sure we got the right talent. It is great to work with real industry insiders who specialize in talent for our sector.
   name: Howie Lind
 - headshot_image: /uploads/gerry-galloway.webp
   headshot-alt: 
   text: PTS’ knowledge of GovCon IT requirements, classified recruiting, and the nuances of getting people to Germany was extremely helpful in the search. I would definitely recommend PTS to other companies that operate in the GovCon space, especially for highly technical IT roles on classified programs.
   name: Garry Galloway
 - headshot_image: /uploads/rick-goundry.webp
   headshot-alt: 
   text: I would recommend PTS to any firm requiring support with filling any “Key/Niche” position in a methodical and timely manner.
   name: Rick Goundry
 - headshot_image: /uploads/jeffrey-kelley.webp
   headshot-alt: 
   text: PTS combined scientific assessments, video interviewing, and executive insights to delivery high quality candidates which others were not able to find. PTS is proactive in staying one step ahead of our requirements, and they are the extremely professional to work with as on-time, dependable partners.
   name: Jeffrey Kelley
 - headshot_image: /uploads/jay-mcgovern.webp
   headshot-alt: 
   text: I can say without hesitation, PTS and Jake are my go-to company for talent. They have a well-defined methodology to capture employer requirements then find and match candidates to requirements. PTS uses state-of-the-art assessment tools and a keen understanding of the industry and its trends to recommend a candidate. Their leadership and experience in the engineering, logistics and construction industries has proven priceless.
   name: Jay McGovern
candidates:
 - headshot_image: /uploads/ersin.webp
   headshot-alt: 
   text: PTS' process of assessment and video interview allowed my character and experience to come to the forefront. I strongly recommend their services to candidates or employers looking to make a qualified match to mutual benefit.
   name: Ersin Yalcin
   logo: isoa-img.jpeg
 - headshot_image: /uploads/mark-white.webp
   headshot-alt:  
   text: PTS coordinated and were present for every meeting with the key stakeholders and stayed in close contact through my first day and followed up 4-6 weeks after I started the new role to confirm with me that I had made the correct career decision. It was an excellent experience working with PTS.
   name: Mark White, Senior Executive
   logo: isoa-img.jpeg
 - name: Anita Vick 
   headshot_image: /uploads/anita-vick.jpeg
   headshot-alt:
   title: Sr. Director, Business Development, GardaWorld
   text: I was approached by a recruiter from the PTS firm for a position that I didn't believe I was qualified to fill. Martyn Brooks, who works for Jake and is based in England, met with me nonetheless to see if we could find another position to discuss. The best interviewing process I have ever been part of and I am very excited about my new position at Gardaworld Federal Services.
 - headshot_image: /uploads/art-spring.webp
   headshot-alt: 
   text: The PTS recruiters leveraged their decades of govcon experience and technology to match me with an amazing organization that suited many of my career objectives.
   name: Art Spring, Account Executive
   logo: isoa-img.jpeg
 - headshot_image: /uploads/josiah-helms.webp
   headshot-alt: 
   text: The advice and guidance in the Cloud government contracting arena was spot on - excellent market intel! The PTS team took time to understand my cloud technical and capture leadership background and what I could bring to the next organization.
   name: Josiah Helms
 - name: Roxanne Kaufman
   headshot_image: /uploads/roxanne-kaufman.webp
   headshot-alt: 
   title: Senior Vice President, ISOA 
   text: PTS was there for every step of the process, making sure that I knew what to expect and following up with feedback. I highly recommend Jake and his team of professionals!
 - headshot_image: /uploads/ersin.webp
   headshot-alt:
   text: I was overjoyed with the fact that there are recruiters who actually deliver on their promise to keep my details and get in touch for future opportunities…Special thanks to Nevenka Popovic for her constructive and humane approach before and after the interview process.
   name: Ersin Yalcin, Senior BIM Architect
 - headshot_image: /uploads/neil-glad.webp
   headshot-alt: 
   text: The PTS team recruiters were not only great mentors but I felt they provided a very personal service that got me consideration and a great position matching my unique skillset with the company needs. I couldn’t have asked for a better partner in the hiring process.
   name: Neil Glad
   logo: isoa-img.jpeg 
 - headshot_image: /uploads/james-kear.webp
   headshot-alt: 
   text: PTS' process of assessment and video interview allowed my character and experience to come to the forefront. I strongly recommend their services to candidates or employers looking to make a qualified match to mutual benefit.
   name: W. James Kear, Senior Director
   logo: isoa-img.jpeg 
   logo-alt:
 - headshot_image: uploads/nadine-safin.webp
   headshot-alt:
   text: From the beginning of our talks, it was clear PTS held a sincere and honest interest in me. The PTS team took the time to ensure I was informed and prepared for every step. I appreciate their professionalism, smooth communication, and thoughtfulness throughout the entire application and interview process.
   name: Nadine Safin, Assistant Controller
   logo: isoa-img.jpeg
 - headshot_image: /uploads/mark-vertuli.webp
   headshot-alt:
   text: I cannot express enough my gratitude to Jake and his entire team for helping to make my transition successful. PTS is an amazing organization capable of supporting and placing veterans and senior leaders around the world.
   name: Mark Vertuli, Program Manager
   logo-alt:

images:
 - bg_image: /images/gallery-1.webp
 - bg_image: /images/gallery-2.webp
 - bg_image: /images/gallery-3.webp
 - bg_image: /images/gallery-4.webp
 - bg_image: /images/gallery-5.webp
 - bg_image: /images/gallery-6.webp
 - bg_image: /images/gallery-7.webp
 - bg_image: /images/gallery-8.webp
 - bg_image: /images/gallery-9.webp
seo:
    title: Precision Talent Solutions, Client and Customer Testimonials
    description: Testimonials highlight our empathetic approach and successful recruitment process.
    keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
--- 


<!-- <section class="grid-centered padded center bg-image bg-structure bg-overlay white">
    <div class="col-8_sm-12" id="main-text">
      <h1 class="center p-b-5">Testimonials</h1>
      <p>We proudly boast testimonials written by satisfied candidates and customers. Our work speaks for itself with a litany of positive reviews and repeat customers. PTS believes in “treating our candidates like customers.” We value every participant in the recruitment process. Our empathetic approach manifests in the glowing reviews we receive from each party we support.</p>
    </div>
</section> -->




<!------------------- Voice of our customers ----------------------------------->

<section class="padded bg-ausalunch bg-image tall-100 mob-tall-60">
  <h2 class="center white p-b-5">Voice of our Customers</h2>
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.customers%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-8-middle" id="team-testimonial">
            <img src="{{testimonial.headshot_image}}" class="profile-small" alt="{{testimonial.headshot-alt}}">
        </div>
        <div class="col-12 padded white" id="testimonial-text">
        <p class="italic p-b-2">
            "{{testimonial.text}}" </p>
        <p>  - {{testimonial.name}}  </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>   


<section id="banner">
    <div class="bg-image bg-structure center">
        <p class="main-banner-text">We treat our candidates like customers</p>
        <a class="m-b-5 button center" href="/contact-us.html">Contact Us</a>
    </div>
</section>

<!---------------------------------------------- Voice of our Candidates ------------------------------------------------>

<section class="padded bg-kosovoteam tall-100 mob-tall-60" id="candidate-testimonials">
  <h2 class="center white p-b-5">Voice of our Candidates</h2>
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.candidates%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-8-middle" id="team-testimonial">
            <img src="{{testimonial.headshot_image}}" class="profile-small" alt="{{testimonial.headshot-alt}}">
        </div>
        <div class="col-12 padded white" id="testimonial-text">
        <p class="italic p-b-2">
            "{{testimonial.text}}" </p>
        <p>   - {{testimonial.name}}  </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>  

<section class="padded grid center capped-width" id="team-description">
    <h2 class="col-12 m-b-1-2">PTS team in action</h2>
    <p class="col-12 center">PTS always stays on the move! Our team of thirty-five plus professionals, spread across three continents and eleven countries, attend conferences, events, industry days, and more to stay informed. We enjoy getting together as a team; whether in Kosovo, Washington D.C., or Warsaw, PTS always finds time to have fun!</p>
</section>

<section class="padded-sides-3 capped-section">
    <div class="gallery grid" id="lightgallery">
        {% for item in page.images %}
    
        <a class="col-4_sm-6 gallery-item" href="{{item.bg_image}}">
            <div class="bg-image landscape" 
                style="background-image: url('{{item.bg_image}}');">
            </div>
        </a> 
    
        {% endfor %}
    </div>
</section>

<!-- <div class="wrapper"> 
    <h2 class="col-12 center p-b-1 m-t-5">Gallery</h2>
    <input id="btnBox" type="checkbox"> 
    <ul>
        {%for image in page.images%}
        <li style="background-image: url('{{image.bg_image}}')"></li>
        {%endfor%}

       
    </ul><label class="btn-area" for="btnBox"><span class="btn1">Load more</span> <span class="btn2">Load less</span></label>
</div> -->

{%include banner.html%}

