--- 
layout: default
customers:
 - headshot_image: headshot.jpg
   headshot-alt:  
   text: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
 - headshot_image: headshot.jpg 
   headshot-alt: 
   text: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
 - headshot_image: headshot.jpg 
   headshot-alt: 
   text: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
candidates:
 - headshot_image: headshot.jpg
   headshot-alt: 
   text: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   title: Chief Growth Officer, Company
   logo: isoa-img.jpeg
 - headshot_image: headshot.jpg
   headshot-alt:  
   text: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   title: Chief Growth Officer, Company
   logo: isoa-img.jpeg
 - headshot_image: headshot.jpg 
   headshot-alt: 
   text: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   title: Chief Growth Officer, Company
   logo: isoa-img.jpeg
images:
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
 - bg_image: /images/ben-andy.jpg
seo:
    title: Precision Talent Solutions, Client and Customer Testimonials
    description: Testimonials highlight our empathetic approach and successful recruitment process.
    keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
--- 


<section class="grid-centered padded center bg-image bg-structure tall-80 bg-overlay">
    <div class="col-8_sm-12" id="main-text">
      <h1 class="center p-b-5">Testimonials</h1>
      <p>We proudly boast testimonials written by satisfied candidates and customers. Our work speaks for itself with our litany of positive reviews and repeat customers. PTS believes in treating our candidates like customers. We value every participant in the recruitment process. Our empathetic approach manifests in the glowing reviews we receive from each party we support.</p>
    </div>
</section>




<!------------------- Voice of our customers ----------------------------------->

<section class="padded bg-ausalunch bg-image tall-100">
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.customers%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-8-middle" id="team-testimonial">
            <img src="/images/{{testimonial.headshot_image}}" class="profile-small" alt="{{testimonial.headshot-alt}}">
        </div>
        <div class="col-12 padded white" id="testimonial-text">
        <p>
            {{testimonial.text}} </p>
        <p>  <em> - {{testimonial.name}} </em> </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>   


<section id="banner">
    <div class="bg-image bg-structure center">
        <p class="main-banner-text">We treat our candidates like customers</p>
        <a class="m-b-5 button center" href="/contact-us.html">Contact Us</a>
    </div>
</section>

<!---------------------------------------------- Voice of our Candidates -------------------------------------------------->

<section class="padded bg-kosovoteam bg-image tall-100">
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.candidates%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-8-middle" id="team-testimonial">
            <img src="/images/{{testimonial.headshot_image}}" class="profile-small" alt="{{testimonial.headshot-alt}}">
        </div>
        <div class="col-12 padded white" id="testimonial-text">
        <p>
            {{testimonial.text}} </p>
        <p>  <em> - {{testimonial.name}} </em> </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>  

<section class="padded grid center capped-width" id="team-description">
    <h2 class="col-12">PTS team in action</h2>
    <p class="col-12 blocktext">PTS on the stays on the move! Our team of thirty-plus professionals spread out across three continents attends conferences, events, industry days, and more to stay informed. We enjoy getting together as a team; whether in Kosovo, Washington D.C., or Warsaw, PTS finds time to relax!</p>
</section>

<section class="padded capped-section">
    <div class="gallery grid" id="lightgallery">
        {% for item in page.images %}
    
        <a class="col-4_sm-6 gallery-item" href="{{item.bg_image}}">
            <div class="bg-image landscape" 
                style="background-image: url('{{item.bg_image}}');">
            </div>
        </a> 
    
        {% endfor %}
    </div>
</section>

<!-- <div class="wrapper"> 
    <h2 class="col-12 center p-b-1 m-t-5">Gallery</h2>
    <input id="btnBox" type="checkbox"> 
    <ul>
        {%for image in page.images%}
        <li style="background-image: url('{{image.bg_image}}')"></li>
        {%endfor%}

       
    </ul><label class="btn-area" for="btnBox"><span class="btn1">Load more</span> <span class="btn2">Load less</span></label>
</div> -->

{%include banner.html%}

