--- 
layout: default 
--- 

<section class="bg-sector tall-85 padded-3 white center" style="background-image: url('/images/process-header.png')">
    <div class="grid-spaceAround m-t-6">
      <h1 class="col-12 p-b-2">WHAT TO EXPECT WHEN WORKING WITH PTS</h1>
      <p class="col-8-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, asperiores corporis laboriosam quidem minus animi alias atque, nam beatae veritatis tempora voluptate aspernatur, et natus quas vero ipsum quaerat minima.</p>
      </div>
</section>

<section class="padded-top grid-spaceAround center bg-process-blue white m-t-5">
    <h2 class="col-12 m-b-1-2 m-t-5">Process</h2>
    <p class="col-10 blocktext p-b-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam dolore officiis totam consequuntur tempora necessitatibus blanditiis quae inventore molestiae dolores rerum, nemo asperiores sed libero distinctio labore nesciunt unde commodi?</p>
    <p class="col-10 blocktext p-b-2"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate laboriosam modi quos saepe fugiat assumenda reiciendis eum eligendi ullam. Ea veniam officia dicta corporis quis sapiente, aliquid magnam inventore esse!</p>
</section>

<section class="padded grid capped-width center">
    <h2 class="col-12 p-t-2 m-b-1 index-titles bold">Process from start to finish</h2>
    <img src="/images/cycle-process.png" alt="Countries where the PTS team resides: USA, UK, Czechia, Belgium, Switzerland, Poland, Kosovo, Bosnia, Turkey, UAE, Germany." date-main="/images/compresed-map.webp" loading="lazy" class="col-12 img-max">
</section>

<hr class="col-12" id="blueline-index">

<section class="padded grid capped-width center">
    <h2 class="col-12 p-t-2 m-b-1 index-titles bold">Timeline</h2>
    <img src="/images/timeline.png" alt="Countries where the PTS team resides: USA, UK, Czechia, Belgium, Switzerland, Poland, Kosovo, Bosnia, Turkey, UAE, Germany." date-main="/images/compresed-map.webp" loading="lazy" class="col-12 img-max">
</section>


{%include contained-terms.html%}

<section class="padded grid capped-width center">
    <h2 class="col-12 p-t-2 m-b-1 index-titles bold">Pricing</h2>
    <img src="/images/pricing.png" alt="Countries where the PTS team resides: USA, UK, Czechia, Belgium, Switzerland, Poland, Kosovo, Bosnia, Turkey, UAE, Germany." date-main="/images/compresed-map.webp" loading="lazy" class="col-12 img-max">
</section>


{%include benefits.html%}

<hr class="col-12" id="blueline">
