:root{
    --blue: #22B1E0;
    --neonblue: #0700EE;
    --whitewriting: white;
    --bg: white;
    --bg-faded: #eff1ee;
    --write: black;
    --button: black;
    --headlines: font-family: 'Roboto';
    /* 300, 400, 500 */
    --writing: font-family: 'Montserrat'; 
    /* 300 it, 400 it, 600 it */
}


* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

[class*="grid-"], [class*="grid_"], [class~="grid"]{
    margin: 0;
}
 
[class*="col-"], [class*="col_"], [class~="col"] {
    padding: 0;
}

html{
    max-height: 100vh;
}

body, html {
    color: var(--write);
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: var(--bg);
    overflow-x: hidden;
    word-break: break-word;
}


.img-max {
    max-width: 100%;
}

header img{
    max-width: auto;
}
.inline{
    display: inline;
}

/* img{
    display: inline-block;
    max-width: 40vw;
    height: auto;
} */

p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.postText p{
    margin-bottom: 0.8rem;
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
}

h2{
    font-family: var(--headlines);
    font-size: 2rem;
    font-weight: 400;
}

h3{
    font-family: var(--headlines);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}



.relative{
    position: relative;
}

.copyright{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
}

/* ------------- Utility Classes --------------  */

.left     {  text-align: left;     }
.right    {  text-align: right;    }
.center {  text-align: center;   }
.blocktext{text-align: justify;}

.bold{font-weight: 500;}
.italic{font-style: italic;}


.padded   {  padding: 5%;    }
.padded-l-r   {  padding: 0 5%;    }
.padded-t   {  padding: 5% 0;    }
.padded-top{
  padding-top: 1%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}
.padded-3   {  padding: 3.5%;    }
.padded-8   {  padding: 8%;    }
.padded-05 {  padding: 0.5rem;  }
.padded-1 {  padding: 1rem;  }
.padded-2 {  padding: 2rem;  }
.p-b-2{padding-bottom: 2%;}
.p-b-2rem{padding-bottom: 2rem;}
.p-b-3{padding-bottom: 3.5%;}
.p-b-12{padding-bottom: 12%;}
.p-l-2{padding-left: 2%;}
.p-r-2{padding-right: 2%;}
.p-b-5{padding-bottom: 5%;}
.p-t-5{padding-bottom: 5%;}
.p-b-0{padding-bottom: 0;}
.p-b-1{padding-bottom: 1rem;}
.p-t-2{padding-top: 2%;}
.p-02{padding: 2rem;}
.padded-sides{
    margin: 0 1.3rem;
}
.padded-sides-3{
    padding: 0.5rem 3rem;
}
.margin-sides{
    margin: 0.3rem 0.8rem;
}
.max-height-25{max-height: 25vh;}
.m-b-1{margin-bottom: 1rem;}
.m-b-3{margin-bottom: 3rem;}
.m-b-0{margin-bottom: 0;}
.m-b-02{margin-bottom: 0.2rem;}
.m-b-05{margin-bottom: 0.5rem;}
.m-t-2{margin-top: 2%;}

.m-t-5{margin-top: 5%;}
.m-t-6{margin-top: 6%;}
.m-t-11{margin-top: 11%;}
.m-b-5{margin-bottom: 5%;}
.m-b-1-4{margin-bottom: 1.4rem;}
.m-b-1-2{margin-bottom: 1.2rem;}
.m-l-5{margin-left: 5.5vw;}
.m-l-7{margin-left: 7vw;}
.p-banner{padding-bottom: 50vh;}
.m-r-6{margin-right: 6%;}
.m-r-4{margin-right: 4%;}
.m-l-neg{margin-left: -5%; }
.m-l-neg-1{margin-left: -1rem; }
.m-l--7{margin-left: -7%; }
.m-l--2{margin-left: -2%; }
.margin-sides{margin: 0 0.5rem;}
.m-t-1-5{margin-top: 1.8rem;}
/* Ade */
.m-neg-2{margin-left: -2.5rem;}

.capped-width { max-width: 1100px; margin: auto;}
.capped-section { max-width: 1200px; margin: auto;}
.capped-text{max-width: 17.8rem;}
.capped-sector{max-width: 200px;}
.m-sector{margin: 1% 0.5%}

.tall-17-max  {  min-height: 10vh;   }
.max-height-40{max-height: 40vh;}
.max-height-35{max-height: 35vh;}
.tall-30  {  min-height: 30vh;   }
.tall-35  {  min-height: 35vh;   }
.tall-40  {  min-height: 40vh;   }
.tall-50  {  min-height: 50vh;   }
.tall-60    {min-height: 60vh;}
.tall-70    {min-height: 70vh;}
.tall-80  {  min-height: 80vh;   }
.tall-85  {  min-height: 86vh;   }
.tall-90  {  min-height: 90vh;   }
.tall-100 {  min-height: 100vh;  }
.max-20 {  max-width: 20vw; 
height: auto; }

.portrait-tall{padding-bottom: 175%;}
.portrait{padding-bottom: 125%;}
.square{padding-bottom: 100%;}
.landscape{padding-bottom: 66%;}
.landscape-wide{padding-bottom: 56%;}

.light-text   { color: white; }
.caps {text-transform: uppercase;}

.fixed{position: relative;}

.capped-width {
    max-width: 1000px;
    margin: auto;
 }
 
 .capped-width-narrow {
    max-width: 900px;
    margin: auto;
 }
 
 .flex-flip-alternate:nth-child(even) {
    flex-direction: row-reverse;
 }



.flex-flip:nth-child(2n){  flex-direction: row-reverse; }

/* General typography */
/* 
h2, h3, h4, h5, h6 {
line-height: 1;
margin-bottom: 0.8rem;
} */

.white{
    color:white;
}
/* this makes sure that the last element in any container doesn't have margin-bottom */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
margin-bottom:0;
}

hr {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 2px solid var(--neonblue); 
    margin-top: 0;
    margin-bottom: 0;
}

#blueline{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    min-width: 100vw;
}

#blueline-team{
    padding-left: 0;
    padding-right: 0;
    margin-left: 32vw;
    margin-right: 0;
    max-width: 35vw;
}

#blueline-index{
    padding-left: 0;
    padding-right: 0;
    margin-left: 5vw;
    margin-right: 0;
    max-width: 90vw;
}

/* Unique typography styles */

.white{
    color: white;
}

.blue{
    color: var(--neonblue);
}

.light-blue{
    color: #2894E7;
}

.emphasis{
    color: var(--neonblue);
}

.light{
    font-weight: 400;
}

ul, ol{
    list-style-position: inside;
    list-style: none;
}

li{
    font-size: 1.2rem;
}

footer ul li::before, #video-teamphoto ul li::before, #why-pts ul li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--neonblue); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.display-block{
    display: block;
}

#benefits p, .contained-model{
    margin-bottom: 1rem;
}

.blog-content p{
    margin-bottom: 1rem;
    text-indent: 1rem;
}

.blue-left{
    border-left: 2px solid #2B94E7;
}

.line-top{
    border-top: 2px solid #2B94E7;
}

.threes p{
    line-height: 1.2;
    font-size: 1.15rem;
}


/* Button and link styles */

.post-item {
    text-decoration: none;
  }

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover{
    color:var(--neonblue);
    text-decoration: none;
}

.subtle-button {
    text-decoration: none;
    border-bottom: 1px solid;
  }

p a {
    color: var(--writing);
    text-decoration: none;
    border-bottom: 2px solid var(--blue);
    transition: all 0.2s;
    text-indent: 0;
}

p a:hover {
    color: var(--neonblue);
    border-bottom: 2px solid;
    border-image-slice: 1;
}

.tag {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.8rem;
    margin-right: 0.4rem;
  }

.social-share{
    font-size: 1.3rem;
}

.social{
    font-size: 1.5rem;
    padding: 0.3rem;
}

.download{
    font-size: 1.3rem;
    padding-top: 0.7rem;
}

.button{
    border: 2px solid var(--button);
    background-color: var(--button);
    border-radius: 6rem;
    padding: 1.2rem 1.3rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.3s;
}

.button:hover{
    color: var(--neonblue);
    background: white;
    border: 2px solid var(--neonblue);
}

.sidenav-parent{
    position: absolute;
    height: 0;
}



/* Blog styles */

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: -1rem;
    font-size: 1.2rem;
}

.sticky-parent{
    max-height: 100vh;
    overflow-y: scroll;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  

/* Form styles */

.inp{
    border: none;
    border-bottom: 2px solid rgb(200, 200, 205);
} 
              
input, textarea {
    border-style: solid;
    border: 2px solid rgb(200, 200, 205);
    padding: 0.8em;
    display: block;
    width: 100%;
    font-size: 1rem;
}
  
input:focus,
textarea:focus {
outline: none;
border: 2px solid var(--neonblue);
}

textarea {
min-height: 7em;
}

input[type="submit"] {
width: auto;
display: block;
}

form [class*=col-] {
padding: 5px;
}

.email-signup input {
width: 30%;
display: inline-block;
max-width: 250px;
margin-top:1rem;
}

.email-signup .button-solid {
padding: 0.8em;
border-radius: 0;
font-size: 1rem;
}

form .button {
width:100%;
cursor: pointer;
transition: 0.3s;
}

form .button:hover {
    color: var(--neonblue);
    background-color: white;
    border: 2px solid var(--neonblue);
}
    

  
              
            
/* Header and footer styles */

header{
    z-index: 27;
    position: relative;
    background: white;
}

.bg-header{
    background-image: url('/images/diamond-structure-for-website.png');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-diamond{
    background-image: url('/images/bg-diamond.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}

.logo{
   padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

footer{
    padding: 5% 2%;
    padding-bottom: 1%;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.diamond-ul{
    width: 20px;
    height: auto;
    display: block;
}

/* footer a{
    display: block;
} */

.footer-contact{
    font-size: 1.2rem;
    padding-bottom: 2rem;
}



  .side-nav {
    /* width: 200px; */
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    background-color: #333333;
    color: white;
    box-sizing: border-box;
  }
  .side-nav a {
    color: white;
    padding-right: 5px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    display: block;
  }

  .side-nav a:first-child{
    padding-top: 16px;
  }

  .side-nav a:last-child{
    padding-bottom: 16px;
  }
  .side-nav a:hover {
    background-color: white;
    color: var(--neonblue);
  }

/* footer ul{
    list-style-image:url('/images/diamond.png');

} */

/* li {
    list-style: none;
}

li::before {
    content: '';
    display: inline-block;
    height: auto;
    width: 20px;
    background-image: url('/images/diamond.png');
    background-size: contain;
} */
/* li::before {
    background-image: url('/images/diamond.png');
} */

/* footer ul {
    list-style-image: url('/images/pts-bullet.png');
    max-height: 2vh;
} */

footer ul::content, #video-teamphoto ul::content{
    vertical-align: middle;
}

footer li, #video-teamphoto li{
    padding-bottom: 0.3rem;
}

.socials{
    font-size: 3rem;
    padding: 0.5rem 0.8rem;
}

/* Nav styles */
.web-nav{
    font-family: var(--headlines);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    /* display: inline-block; */
    margin-right: 2rem;
    padding-left: 0;
    /* padding: 0.6rem 0 0.7rem 0; */
    display: flex;
    padding: 1.5rem;

}

.web-nav span{
    flex-shrink: 1;
    flex-grow: 1;
}

.web-nav a{
    /* padding: 0.4rem 0.6rem; */
    transition: 0.2s;
}

.web-nav a:hover{
    color: var(--neonblue);
}



.burger-button {
    position:fixed;
    top: 2vh;
    right: 2vh;
    z-index: 9;
    padding: 8px;
  }
  /*this is where you can chand the color of the buttons*/
  .burger-button span{
    width: 40px;
    border: 2px solid black;
    background-color: black;
    display: block;
    border-radius: 22px;
    transition: 1.5s;
  }
  .burger-button.active span{
    border-color: var(--neonblue);
    background-color: #0700EE;
  }
  
  .burger-top, .burger-bottom{
    position: absolute;
  }
  
  .burger-top{
    top: -02px;
  }
  
  .burger-bottom{
    bottom: -02px;
  }
  /* make sure this has the same top as the burger button has padding*/
  .burger-button.active .burger-top{
    position: absolute;
    top: 8px;
    transform: rotateZ(45deg);
  }
  
  .burger-button.active .burger-middle{
  /*   transform: rotateZ(270deg); */
    border-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
  }
  
  /* make sure this has the same bottom as the burger button has padding*/
  
  .burger-button.active .burger-bottom{
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-45deg);
  }
  
  .burger-menu {
      display: flex;
      position: fixed;
      top: 0vh;
      left:100vw;
      right: -100vw;
      bottom: 0vh;
      background-color: #f9f9f9;
      padding:5px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      z-index: 8;
    transition:1s;
      align-content:space-around;
    justify-content:space-around;
    flex-direction:column;
  }
  .burger-menu.active{
    left: 0vw;
    right:0;
  }
  .burger-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    display:block;
    padding:5px 15px;
    text-align:center;
    white-space:nowrap;
    padding-bottom: 1.5rem;
  }

/* .hamburger-button {
    cursor: pointer;
    padding: 0 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 3.5rem;
    line-height: 0.8;
    margin-top: -0.7rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
    z-index: 3;
}

.hamburger-button.active {
    color: var(--blue);
} */

.mobile-menu {
    display: none; 
    background-color: var(--bg); 
    color: var(--white);
    padding: 5%;
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 0 5%;
    margin-top: 12%;
    display: block;
    font-weight: normal;
    font-size: 1.5rem;
    color: black;
}

.mobile-menu a:hover{
    color: var(--neonblue);
}

.mob-show {
    display: none; 
}

.clickedon{
    color: var(--neonblue);
}

.dropdown-content {
    border: 2px solid #333333;
    display: none;
    position: absolute;
    background-color: #333333;
    color: white;
    left:10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  display:block;
  /* color: rgb(78, 73, 73); */
  padding:5px 15px;
  text-align:left;
  white-space:nowrap;
  font-size: 1rem;
}

.dropdown-content a:hover{
    background-color: white;
    color: var(--neonblue);
}

.dropdown-nav {
  position:relative;
  padding-bottom: 1rem;
  z-index: 2;
}
.dropdown-nav:hover .dropdown-content {
    display: block;
}

/* .space-between-navlinks{
   padding: 0 1.05rem;
} */




/* Image styles */

.bg-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-sector{
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-structure{
    background-image: url('/images/structure.svg');
    width: auto;
}

.bg-team{
    background-image: url('/images/team-closeup.jpg');
}

.bg-kosovoteam{
    background-image: url('/images/kosovoteam-resized.webp');
    background-position: 20% 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-ausalunch{
    background-image: url('/images/ausa-lunch-resized.webp');
}

.bg-placement{
    background-image: url('/images/placements-structure.png');
}

.bg-experience{
    background-image: url('/images/experience.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-philosophy{
    background-image: url('/images/philosophy.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-technology{
    background-image: url('/images/technology.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lazy-proxy{
    width:1px;
    height: 1px;
    opacity:0;
    position:fixed;
    left:1000vw;
}

.max-w{
    max-width: 100%;
}

.capped-img{
    min-width: 100vw;
    max-height: 80vh;
}

.rounded{
    border-radius: 20px;
}

.profile-image {
    border-radius: 100%;
}

.bg-overlay {
    position: relative;
}
  
.bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(250,250,250,0);
}
  
.bg-overlay > * {
    position: relative;
}

.bg-overlay-dark {
    position: relative;
}
  
.bg-overlay-dark::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.35);
}
  
.bg-overlay-dark > * {
    position: relative;
}

.service-icon{
    max-width: 14rem;
}


.dumping-ground{
    position: absolute;
    left: -100vw;
}

.dumping-ground img{
    width: 0;
}

.svg-logo{
    height: 200px;
    margin-top: -14%;
    margin-bottom: -21%;
}

.association{
    border-radius: 16%;
}

.fixed-three, .fixed-three-index {
    position: absolute;
    top: 35%;
    left: 30%;
    right: 6%;
}

.fixed-three-sentence{
    position: absolute;
    top: 19%;
    left: 25%;
}

.fixed-heading {
    position: absolute;
    top: 13%;
    left: 25%;
    right: 6%;
}

.fixed-benefits{
    position: absolute;
    top: 30%;
    left: 25%;
    right: 2%;
    font-size: 1.2rem;
    line-height: 1.2;
}


/* industry network gallery */



.gallery-item {
    border-bottom: none;
    padding: 2% 1%;
}

a.gallery-item{
    display: block;
}

.lg-backdrop {
    background-color: gray ;
}

.lg-backdrop.in {
    opacity: 0.9;
}

.lg-next, .lg-prev {
    background-color: rgba(0,0,0,.45);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080;
    outline: 0;
    border: none;
}

.lg-counter {
    color: black;
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 12px;
    height: 47px;
    vertical-align: middle;
}

.lg-toolbar .lg-icon {
    color: black;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 47px;
    line-height: 27px;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    text-decoration: none !important;
    outline: medium none;
    will-change: color;
    -webkit-transition: color .2s linear;
      transition-property: color;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0s;
    -o-transition: color .2s linear;
    transition: color .2s linear;
      transition-property: color;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0s;
    background: 0 0;
    border: none;
    box-shadow: none;
}

.wrapper {
	width: 900px;
	min-height: auto;
	margin: 20px auto;
}
.wrapper ul {
	list-style: none;
	padding: 0;
}
.wrapper ul:after {
	content: '';
	display: table;
	clear: both;
}
.wrapper ul li {
	width: calc(30% - 5px);
	margin: 30px 15px 0;
	height: 150px;
	background-size: cover;
	background-position: center center;
	float: left;
	box-shadow: 0 15px 10px 1px rgba(0, 0, 0, 0.5);
}
.wrapper ul li:nth-child(1n + 4) {
	max-height: 0;
	opacity: 0;
	transition: 0.2s ease-in;
}
.wrapper .btn-area {
	display: block;
	cursor: pointer;
	text-align: center;
	width: 150px;
	line-height: 50px;
	margin: 30px auto 0;
    margin-bottom: 5rem;
    padding: 0.7rem 1.2rem;
    border: 2px solid var(--button);
    background-color: var(--button);
    border-radius: 6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
}

.wrapper .btn-area:hover{
    color: var(--neonblue);
    background: white;
    border: 2px solid var(--neonblue);
}

.wrapper .btn-area .btn2 {
	display: none;
}
.wrapper #btnBox {
	display: none;
}
.wrapper #btnBox:checked~ul li:nth-child(1n + 4) {
	max-height: 1000px;
	opacity: 1;
	transition: 0.2s ease-in;
}
.wrapper #btnBox:checked~.btn-area .btn2 {
	display: block;
}
.wrapper #btnBox:checked~.btn-area .btn1 {
	display: none;
}


/* Banner homepage Styles */


/* Team page styles */

.team-heading{
    font-size: 3.5rem;
    font-family: var(--headlines);
    color: white;
}

#team-description{
    padding-bottom: 0;
    padding-top: 5%;
}

.profile-small {
    max-width: 12rem;
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.left-blue-line{
    border-left: 2px solid var(--neonblue);
    padding-left: 5rem;
}

/* Slider */

.testimonial-slider-container-index {
    max-width: 1100px;
    margin: auto;
}
  
  

.testimonial-slider-container {
    padding: 5%;
    max-width: 1200px;
    margin: auto;
}
  
.slider-item {
padding: 1rem;
display: none;
}

.slider-item:first-child {
display: block;
}

.slick-next {
right: 15px;
top: 56%;
}

.slick-prev {
left: -15px;
top: 56%;
}

.slick-next::before, .slick-prev::before {
    font-family: inherit;
    font-size: 3rem;
    line-height: 1;
    color: white;
}

.slick-dots {
left: 0;
bottom: 10px;
/*  Without this the padding on the parent affects the centering of the dots. Do not delete.    */
}

.slick-dots li,
.slick-dots li button {
width: 10px;
}

.slick-dots li button::before {
color: var(--neonblue);
}

.slick-dots li.slick-active button::before {
color: var(--neonblue);
}

  
  
  /* Slider Text Styles  */
  
.slider-item p {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.3;
}

.team-text{
    font-size: 1.3rem;
}  
.hover-container {
    background-size: cover;
    background-position: center;
}
  
.hover-overlay {
    position: relative;
    padding-bottom: 100%;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.3s;
}
  
.hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0.7);
    color: var(--bg);
    font-size: 1.9rem;
}
  
.hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.hover-inner p {
    margin-bottom: 0;
}


/* team members popup styles */
.popup {
    position: fixed;
    left: 100vw;
    z-index: 5;
    padding: 2rem;
    background-color: white;
    max-width: 800px;
}

/* top and bottom of screen */
.popup.onscreen {
left: auto;
right: auto;
top: 5%;
overflow: scroll; 
max-height: 90vh;
}
  
.popUpOverlay {
background-color: rgba(0,0,0,0);
transition: all 1s;
position: fixed;
}

.popUpOverlay.onscreen {
background-color: gray;
opacity: 0.9;
top:0;
left:0;
bottom:0;
right:0;
}

polygon, path{
fill:rgba(0,0,0,0);
stroke:black;
stroke-width:5;
}

.popupX {
    position:absolute;
top:1rem;
right:1rem;
width:1rem;
}

.pointer{
      cursor: pointer;
}
  

/* Slideshow container */
.slideshow-container {
  min-width: 100vw;
  position: relative;
  margin: auto;
  background-color: rgba(6, 113, 255, 0.26);
}

.banner-text {
    color: #f2f2f2;
    font-size: 3.5rem;
    padding: 14.5% 12px;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.meet-team{
    position: absolute;
    top: 5vw;
    left: 5vw;
}

.banner-paragraph{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.95rem;
    padding: 10.5% 12px;
    color: #f2f2f2;
}

.banner-button{
    position: absolute;
    bottom: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--button);
    background-color: var(--button);
    border-radius: 6rem;
    padding: 1.2rem 1.6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}

/* Hide the images by default */
.mySlides {
 display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade:not(.show){
    opacity: 1;
}
/* Testimonial styles */

.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.white-heading{
    color: #ffffff;
}
/*.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}*/

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 100vh;
    position: relative;
    background: url('/images/testimonial-kosovo.svg');
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}



.testimonial-clients {
    min-height: 100vh;
    position: relative;
    background: url('/images/ausalunch.jpeg');
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}

#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide .img-circle {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonial4_slide .img-logo {
    top: 0;
    left: 0;
    right: 0;
    width: 180px;
    height: 120px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 5%;
  margin-top: 4%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
	padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
/* ------testimonial  close-------*/

.emphasized{
  font-style: italic;
}


/* index page styles */

.why-pts{
    text-align: left;
    max-width: 400px
}

.img-stairs{
    max-height: 80vh;
    width: auto;
    border-radius: 12%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* #stairs-container {
    background-image: url('/images/team-stairs.jpg');
    box-shadow: 40px 40px 40px 40px white inset, -20px -20px 40px 40px white inset; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.main-banner-text, .main-banner-text-2{
    color: var(--whitewriting);
    font-size: 3.5rem;
    font-weight: 400;
    padding-top: 10%;
    padding-bottom: 3%;
}

.ss-description{
    line-height: 1.2;
}

.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
    padding-bottom: 55.4%;
}

.embed-container video {
    position: absolute;
    top: 0;
    left: 0;
}
  
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#banner div{
    min-height: 50vh;
    background-attachment: fixed;
}

.centered-p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos{
    max-height: 12vh;
    margin: 1%;
    box-shadow: 5px -4px 10px rgba(34,177,224,0.3);
    margin-top: 3rem;
}

/* include styles */
.logo-placements{
    max-height: 9vh;
    margin: 1%;
    box-shadow: 5px -4px 10px rgba(34,177,224,0.3);
}

/* Ade copyright ad */
.copyright{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}



@media(max-width:66em){
    .tablet-hide{display:none;}
    .main-banner-text-2{
        font-size: 3rem;
    }
    #banner div{
        min-height: 30vh;
    }
    .team-heading{
        margin-top: 5rem;
        font-size: 3.2rem;
    }
    .web-nav{
        font-size: 1rem;
    }
    .space-between-navlinks{
        margin: 0.5rem 0rem;
        padding: 0 0.5rem;
    }

    .threes p{
        font-size: 0.65rem;
    }

    .fixed-three{
        top: 28%;
    }
    
    .fixed-benefits{
        left: 31%;
        right: 16%;
    }
    .left-blue-line{
        border: none;
        text-align: center;
        padding: 0;
    }
    
}

@media(max-width:48em) {
    .mob-hide { display: none; }
    .mob-show { display: block; }
    .logo{
        font-size: 5rem;
        margin-left: 37%;
    }
    .banner-text{
        font-size: 2.3rem;
        padding: 75.5% 12px;
    }
    .banner-paragraph{
        font-size: 1.2rem;
    }
    #main-text{
        margin-top: 3.8rem;
    }
    .main-banner-text{
        font-size: 2.5rem;
        font-weight: 400;
        padding-top: 10%;
        padding-bottom: 3%;
    }

    .main-banner-text-2{
        font-size: 3rem;
        padding-top: 5%;
    }

    #sectors{
        margin-top: 3rem;
    }

    .mob-m-3{
        margin-bottom: 3rem;
    }
    .mob-m-t-3{margin-top: 3rem;}
    .team-heading{
        margin-top: 5rem;
        font-size: 2.7rem;
    }

        
    #team-testimonial{
    text-align: center;
    margin-left: 11.5vw;
    }

    .sm-padded-0{
        padding: 0;
    }
    #testimonial-text{
        font-size: 0.8rem;
    }
    /* .bg-kosovoteam{
        background-color: var(--blue);
        background-image: url('/');
    } */

    .slider-item p{
        font-size: 1rem;
    }
    .profile-small{
        max-width: 10rem;
    }

    .slick-next::before, .slick-prev::before {
        display: none;
    }

    .slick-prev, .slick-next {
        display: none;
    }

    .mob-block{
        text-align: justify;
    }

    .footer-contact{padding-bottom: 0;
    padding-top: 2rem;}

    .service-icon{
        margin-left: 18%;
    }

    .mob-m-b-3{
        margin-bottom: 3rem;
    }

    .mob-padded-2{
        padding: 2rem 0;
    }
  
    .mob-tall-60{
        min-height: 60vh;
    }

    .mob-m-l-10{
        margin-left: 10%;
    }

    .mob-justify{
        text-align: justify;
    }

    #main-text{
        margin-top: 0;
    }

    .mob-padded-post{
        padding: 0.2rem 0.2rem;
    }

    .mob-not-p{
        padding: 0;
    }

    .mob-center{
        text-align: center;
    }

    .threes p{
        font-size: 0.65rem;
    }
    .fixed-benefits{
        top: 18%;
        left: 25%;
        right: 5%;
        font-size: 1rem;
    }
}

@media(max-width:768px) {
    .email-signup input {
      width: 100%;
      max-width: 100%;
    }

    .threes p {
        line-height: 1.2;
        font-size: 0.95rem;
        margin-top: 0%;
        margin-left: 3%;
    }
    #why-pts{
        min-height: 65vh;
    }
    .blue-left-mob{
        border-left: 2px solid #2B94E7;
    }
    .fixed-heading {
        top: 7%;
      }

    .mob-p-09{
        font-size: 0.9rem;
    }
}

@media(max-width: 1400px){
    .tablet-show-header{
        display: block;
    }
    .tablet-hide-header{
        display: none;
    }
}

@media(min-width: 1600px){

    body{
        font-size: 1.2rem;
    }
    .threes p {
        line-height: 1.2;
        font-size: 1.5rem;
      }
    p, li{
        font-size: 1.5rem;
    }

.capped-width{
    max-width: 1350px;
}

.slider-item p {
    text-align: justify;
    font-size: 2.2rem;
    line-height: 1.3;
  }
  .socials {
    font-size: 5rem;
    padding: 0.5rem 0.8rem;
  }

  .footer-contact {
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }

  h3{
    font-size: 2.2rem;
  }

  h2{
    font-size: 3.1rem;
  }

  h1{
    font-size: 4rem;
  }

  .banner-paragraph{
    font-size: 2.75rem;
  }

  .banner-text{
    font-size: 5rem;
  }
  
  .web-nav{
    font-size: 1.6rem;
  }

  .svg-logo{
    height: 230px;
  }

  .dropdown-content a{
    font-size: 1.5rem;
  }

  .testimonial-slider-container-index{
    max-width: 1400px;
  }

  .capped-section{
    max-width: 1400px;
  }

  .main-banner-text, .main-banner-text-2{
    font-size: 5.2rem;
  }

  .button{
    font-size: 2.1rem;
    padding: 1.6rem 1.5rem;
  }

  .fixed-benefits{
    position: absolute;
    top: 30%;
    left: 30%;
    right: 14%;
    font-size: 1.2rem;
    line-height: 1.2;
    }

 .testimonial-slider-container {
        padding: 5%;
        max-width: 1500px;
        margin: auto;
    }
}