---
layout: default 
teamtestimonials:
 - headshot_image: mike.png 
   headshot-alt:
   text: Having previously worked as a CHRO for a successful GovCon foundation, I had the pleasure of frequently partnering with PTS to tackle complex talent challenges. I was consistently impressed with their innovative solutions and ability to deliver even on the toughest mandates. In fact, I was so impressed that I decided to join the team myself. There's nothing quite as fulfilling as being part of a company that is dedicated to solving its clients' most pressing talent issues.
   name: Michael Stambaugh, CGO
 - headshot_image: arlinda.png
   headshot-alt:
   text: As a team member working for PTS means you get to be active and thrive on challenges. From meeting with the clients to getting a sense of their business goals, to having sincere and heartfelt conversations with aspiring candidates, you have a chance to use your industry knowledge and people skills to get the perfect match. We call this team “Family” and each member really cares for each other thereby making it easy and fun for everyone to focus on the mission.
   name: Arlinda Beqiri Ramizi, Recruitment Consultant
 - headshot_image: wills.png
   headshot-alt: 
   text: I first met Jake Frazer as an ISOA intern in 2019. He's stayed in touch with me, providing advice and introductions as I moved from Mississippi to DC to Transnistria. Jake cares about his team as if they were family. I'm proud to work for an organization that always puts its people first.
   name: Wills Hay, Account Executive
team:
 - name: Jake Frazer
   title: CEO and Cofounder
   photo_image: jake.png
   photo-alt: Headshot of Jake Frazer, Cofounder and President of Precision Talent Solutions.
   education: MBA RIT, BS Vanderbilt University
   govcon: 24
   companies: US Army, BRS/KBR, TWI
   email: jake@precision.careers
   linkedin: https://www.linkedin.com/in/jakefrazer/
   location: Luzern, Switzerland
 - name: Julie Kmet
   title: Chief Operations Officer
   photo_image: julie.png 
   photo-alt: Headshot of Julie Kmet, Chief Operations Officer of Precision Talent Solutions.
   education: BA Loyola University Chicago
   govcon: 13
   companies: WNBA, TriMark USA, PAE/Amentum
   email: julie@precision.careers
   linkedin: https://www.linkedin.com/in/juliekmet/
   location: Brussels, Belgium
 - name: Michael Stambaugh
   title: Chief Growth Officer
   photo_image: mike.png 
   photo-alt: Headshot of Michael Stambaugh, Chief Growth Officer of Precision Talent Solutions.
   education: Master of Professional Studies
   govcon: 21
   companies: HJF, Women for Women, Kellogg Brown & Root
   email: michael@precision.careers
   linkedin: https://www.linkedin.com/in/stambaugh/ 
   location: Dallas, TX
 - name: Scott Diegel
   title: Chief Finance Officer
   photo_image: scott.png 
   photo-alt: Headshot of Scott Diegel, Chief Finance Officer of Precision Talent Solutions.
   education: BA Vanderbilt University
   govcon: 27
   companies: 
   email: scott@precision.careers
   linkedin: #
   location: Luzern, Switzerland
 - name: Andrew MacWilliams
   title: Senior Account Executive
   photo_image: andy.png
   photo-alt: Headshot of Andrew MacWilliams, Senior Account Executive at Precision Talent Solutions.
   education: BA The George Washington University
   govcon: 18
   companies: Constellis, Global Integrated Security
   email: andrew@precision.careers
   linkedin: https://www.linkedin.com/in/andrew-macwilliams-91359537/
   location: Washington, DC
 - name: Adem Mehmeti
   title: Recruitment Consultant
   photo_image: adem.png 
   photo-alt: Headshot of Adem Mehmeti, Recruitment Consultant at Precision Talent Solutions.
   education: BA University of Pristina
   govcon: 17
   companies: DynCorp Intl, Fluor, KBR
   email: adem@precision.careers
   linkedin: https://www.linkedin.com/in/adem-m-b446051b5/
   location: Kosovo
 - name: Aida Ljajic
   title: Recruiter
   photo_image: aida.png 
   photo-alt: Headshot of Aida Ljajic, Recruiter at Precision Talent Solutions.
   education: Tuzla University
   govcon: 10
   companies: DynCorp International, ECOU
   email: aida@precision.careers
   linkedin: https://www.linkedin.com/in/aida-ljajic-cssgb-a61a774/
   location: Antalya, Turkey
 - name: Arlinda Beqiri Ramizi
   title: Recruitment Consultant
   photo_image: arlinda.png 
   photo-alt: Headshot of Arlinda Beqiri Ramizi, Recruitment Consultant at Precision Talent Solutions.
   education: MA AAB University Kosovo
   govcon: 12
   companies: KBR, Freedom Partnership
   email: arlinda@precision.careers
   linkedin: https://www.linkedin.com/in/arlinda-beqiri-ramizi-aa4ab248/
   location: Kosovo
 - name: Aurore Jusufi
   title: Graphic Designer
   photo_image: aurora.png 
   photo-alt: Headshot of Aurore Jusufi, Graphic Designer at Precision Talent Solutions.
   education: MA AAB University Kosovo
   govcon: 12
   companies: KBR, Freedom Partnership
   email: arlinda@precision.careers
   linkedin: https://www.linkedin.com/in/arlinda-beqiri-ramizi-aa4ab248/
   location: Kosovo
 - name: Benjamin Webb
   title: Account Lead
   photo_image: ben.png
   photo-alt: Headshot of Benjamin Webb, Account Lead at Precision Talent Solutions.
   education: AS The Los Angeles Film School
   govcon: 7
   companies: US Marine Corps, Constellis
   email: benjamin@precision.careers
   linkedin: https://www.linkedin.com/in/benjamin-webb-683aab83/
   location: Fredericksburg, VA
 - name: Besart Sadiku
   title: Recruitment Consultant
   photo_image: besart.png
   photo-alt: Headshot of Besart Sadiku, Recruitment Consultant at Precision Talent Solutions.
   education: BA UBT
   govcon: 8
   companies: Fluor, KBR
   email: besart@precision.careers
   linkedin: https://www.linkedin.com/in/besartsadiku/
   location: Kosovo
 - name: Edmond Halili
   title: Recruitment Consultant
   photo_image: eddie.png 
   photo-alt: Headshot of Edmond Halili, Recruitment Consultant at Precision Talent Solutions.
   education: BA Ashworth College
   govcon: 10+
   companies: KBR, Sallyport Global
   email: edmond@precision.careers
   linkedin:  https://www.linkedin.com/in/edmond-halili-0b261541/
   location: Kosovo
 - name: Enkeleda Simitxhiu
   title: Recruitment Consultant
   photo_image: enkeleda.jpg.png 
   photo-alt: Headshot of Enkeleda Simitxhiu, Recruitment Consultant at Precision Talent Solutions.
   education: BA University of Pristina
   govcon: 8
   companies: KBR, Fluor Corporation
   email: enkeleda@precision.careers
   linkedin: https://www.linkedin.com/in/enkeleda-simitxhiu-011496237/
   location: Kosovo
 - name: Fitim Ibishi
   title: Recruitment Consultant
   photo_image: fitim.png 
   photo-alt: Headshot of Fitim Ibishi, Recruitment Consultant at Precision Talent Solutions.
   education: BS Economic-Management
   govcon: 12+
   companies: Ecolog, KBR, NGMS
   email: fitim@precision.careers
   linkedin: https://www.linkedin.com/in/fitim-ibishi-8bb95063/
   location: Kosovo
 - name: Jeton Musliu
   title: Accounting & Administration Manager
   photo_image: jeton.png 
   photo-alt: Headshot of Jeton Musliu, Accounting & Administration Manager at Precision Talent Solutions.
   education: BS Eqrem Cabej University, Certified PMP
   govcon: 2.5
   companies: Thesar Consulting, Global Operations, Fluor
   email: jeton@precision.careers
   linkedin: https://www.linkedin.com/in/jeton-musliu-pmp%C2%AE-93678030/ 
   location: Kosovo
 - name: Jim Shields
   title: NATO Consultant
   photo_image: jim.png 
   photo-alt: Headshot of Jim Shields, NATO Consultant at Precision Talent Solutions.
   education: MSc Naval Postgraduate School, California
   govcon: 40
   companies: NATO Support & Procurement Agency, US Navy
   email: jim@precision.careers
   linkedin: https://www.linkedin.com/in/jameslshields3/
   location: FT Washington, Pennsylvania
 - name: Joshua Belcher 
   title: Account Executive
   photo_image: josh.png 
   photo-alt: Headshot of Joshua Belcher, Account Executive at Precision Talent Solutions.
   govcon: 22
   companies: PAE, CSA
   email: joshua@precision.careers
   linkedin: linkedin.com/in/joshua-belcher-b4b70923
   location: Watertown, NY
 - name: Lulora Aliu-Rexhepi 
   title: Director of Operations
   photo_image: lulora.png 
   photo-alt: Headshot of Lulora Aliu-Rexhepi, Director of Operations at Precision Talent Solutions.
   education: MSc Salford University
   govcon: 13
   companies: KBR, PAE, Sallyport Global
   email: lulora@precision.careers
   linkedin: https://www.linkedin.com/in/lulora-aliu-rexhepi-msc-pm-baa258b/
   location: Baumholder, Germany
 - name: Martyn Brooks
   title: Account Executive
   photo_image: martyns.png 
   photo-alt: Headshot of Martyn Brooks, Account Executive at Precision Talent Solutions.
   education: Advanced Diploma in Administrative Management 
   govcon: 16
   companies: Constellis, Olive Group, Forces Recruitment Services
   email: martyn@precision.careers
   linkedin: https://www.linkedin.com/in/precisiontalentsolutions?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3pscIghoRvabg3mERhlUBw%3D%3D
   location: Devon, UK
 - name: Nevenka Popovic
   title: Account Executive
   photo_image: nevenka.jpg 
   photo-alt: Headshot of Nevenka Popovic, Account Executive at Precision Talent Solutions.
   education: BA University of Belgrade
   govcon: 13
   companies: KBR
   email: nevenka@precision.careers
   linkedin: https://www.linkedin.com/in/nevenkapopovicphri/
   location: Munich, Germany
 - name: Shawn Doble
   title: Account Executive
   photo_image: shawn.png 
   photo-alt: Headshot of Shawn Doble, Account Executive at Precision Talent Solutions.
   education: MA Arizona State University
   govcon: 30+
   companies: Imperatis, MPRI, Watford City Police Department
   email: shawn@precision.careers
   linkedin: https://www.linkedin.com/in/shawn-doble-62806112/
   location: Wroclaw, Poland
 - name: Tereza Mershon
   title: Marketing Specialist
   photo_image: tereza.png 
   photo-alt: Headshot of Tereza Mershon, Marketing Specialist at Precision Talent Solutions.
   education: Czech Technical University
   govcon: 1+
   companies: Graffitti Networks
   email: tereza@precision.careers
   linkedin: https://www.linkedin.com/in/terezamershon/
   location: Prague, Czech Republic
 - name: Tim Krosa
   title: Recruitment Consultant
   photo_image: tim.png 
   photo-alt: Headshot of Tim Krosa, Recruitment Consultant at Precision Talent Solutions.
   education: Rochester Institute of Technology
   govcon: 6
   companies: KBR, Fluor
   email: tim@precision.careers
   linkedin: https://www.linkedin.com/in/tim-k-86b365176/
   location: Kosovo
 - name: Violeta Krelani
   title: Recruiter
   photo_image: violeta.png 
   photo-alt: Headshot of Violeta Krelani, Recruiter at Precision Talent Solutions.
   education: BA Vanderbilt University
   govcon: 27
   companies: 
   email: violeta@precision.careers
   linkedin: #
   location: Luzern, Switzerland
 - name: Vis Abdullahu
   title: Recruitment Consultant
   photo_image: visar.png 
   photo-alt: Headshot of Visar Abdullahu, Recruitment Consultant at Precision Talent Solutions.
   education: BA South East European University
   govcon: 5+
   companies: Rrota, Viva, Fluor corporation 
   email: visar@precision.careers
   linkedin: https://www.linkedin.com/in/vv-805061a6/
   location: Kosovo
 - name: Wills Hay
   title: Account Executive
   photo_image: wills.png 
   photo-alt: Headshot of Wills Hay, Account Executive at Precision Talent Solutions.
   education: BA University of Mississippi
   govcon: 2
   companies: US Fulbright Program, US House of Representatives
   email: wills@precision.careers
   linkedin: https://www.linkedin.com/in/wills-hay/
   location: Washington, DC
seo:
    title: Precision Talent Solutions, Our Team
    description: Our team of thirty-plus professionals is spread out across three continents.
    keywords: government consulting, government contracting recruiters, contract recrutiment agencies, contractor recruitment agencies, executive employment agencies, employment agency for executives, executive recruitment agency, executives recruitment agency, recruitment agencies for executives, contract staffing agencies
--- 

<section class="bg-image bg-team grid tall-80">
    <div class="col-4_md-6_sm-12 left">
        <div data-aos="fade-right">
        <h1 class="m-t-11 m-l-7 team-heading">Meet the team</h1>
        </div>
    </div>
</section>

<section class="padded-top grid center capped-width" id="team-description">
    <h2 class="col-12 m-b-1-2">PTS Backstory</h2>
    <p class="col-12 blocktext p-b-2">PTS was cofounded in 2015 by Jake Frazer, a former U.S. Army Officer and 24-year Veteran in government contracting. After serving in Germany and Bosnia and Herzegovina as a Cavalry Officer, Jake went into government contracting in the late 90s. In the Balkans, he worked for Brown & Root, the precursor to KBR. During his six years working in Europe, the U.S., and the Middle East with one of the industry leaders, he observed the necessity of finding the right people for the mission.</p>
    <p class="col-12 blocktext p-b-2">For almost ten years, Jake was the co-owner and C-Suite executive for a medium- sized international supply chain company, a leading prime to the U.S. Government, and an outsourced partner for major primes in the contingency contracting arena. While supply chain was the mission, talent remained the apparent challenge. During this decade of working across the industry, Jake built a strong understanding of many government programs and significantly extended his professional network.</p>
    <p class="col-12 blocktext p-b-2">Jake set up PTS in 2015, specifically focusing on the challenge of talent in the government contracting sector. Initially, the strategy for PTS was to be a SaaS-based matchmaking technology platform. PTS reoriented that technology to support actual recruitment. Jake has built PTS into one of the "Top GovCon Recruiters" in the industry, according to Jim Garretson of Executive Mosaic.</p>
</section>

<hr class="col-12 m-t-5" id="blueline-team">

<section class="padded-top grid center capped-width" id="team-description">
  <h2 class="col-12 m-b-1-2">PTS Team</h2>
  <p class="col-12 blocktext p-b-2">Our approach to building the PTS team is to create a diverse ecosystem of experiences that aligns with the needs of our candidates and customers. We hand-select professionals with extensive backgrounds in operations, business development, shared services, and talent acquisition to provide depth and perspective.</p>
  <p class="col-12 blocktext p-b-2"> Our team includes Program Managers, Human Resources Executives, Solutions Architects, Information Technology Technicians, Project Control Specialists, Finance Managers, Site Managers, Special Project Coordinators, and Senior Operations Coordinators. Our functional, geographical, and ethnic diversity allows us to understand better our customers' requirements and the qualifications of our candidates to ensure we get the best fit.</p>
</section>


<hr class="col-12 m-t-5" id="blueline-team">
            
              
<section class="p-b-0">
    <div class="testimonial-slider-container team-testimonial">
    {%for item in page.teamtestimonials%}
    <div class="slider-item">
      <div class="grid">
        <div class="col-4_sm-12-middle right" id="team-testimonial">
            <img src="/images/{{item.headshot_image}}" class="profile-small" alt="{{item.headshot-alt}}">
        </div>
        <div class="col-8_sm-12 padded-t">
        <p>
            "{{item.text}}" </p>
        <p>  <em> - {{item.name}} </em> </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>

<hr class="col-12" id="blueline-team">

<section class="padded grid-spaceAround">
    {%for member in page.team%}
		<div class="col-2_md-3_sm-5 center margin-sides m-t-1-5 team-member pointer" data-target="{{forloop.index}}">
            <img src="/images/{{member.photo_image}}" alt="{{member.photo-alt}}" class="img-max">
            <h3 class="m-t-2 m-b-02">{{member.name}}</h3>
            <h4>{{member.title}}</h4>
        </div>
	{%endfor%}

    {%for popup in page.team%}
    <section class="popup" data-pop="{{forloop.index}}">
      <div class="grid-spaceBetween">
        <div class="col-5_sm-12">
          <img src="/images/{{popup.photo_image}}" class="popup-photo img-team img-max" alt="{{popup.photo-alt}}">
        </div>
        <div class="col-5_md-8_sm-12-middle">
            <h2>{{popup.name}}</h2>
            <h4>{{popup.title}}</h4>
            {%if popup.education%}
            <p>Education: {{popup.education}}</p>
            {%endif%}
            <p>GovCon: {{popup.govcon}} years of experience</p>
            <p>Past Companies: {{popup.companies}}</p>
            <p>Email: <a href="mailto:{{popup.email}}"> {{popup.email}}</a></p>
            <p>LinkedIn: <a href="{{popup.linkedin}}" target="_blank"> {{popup.name}}</a></p>
            <p>Located in: {{popup.location}}</p>
        </div>
        <div class="popupX">  
            <svg viewbox="0 0 100 100">
            <path d="M 0,0 L100,100" />
            <path d="M 100,0 L0,100" />
            </svg>
        </div>
      </div>
    </section>
    {%endfor%}

    <div class="popUpOverlay"></div>

</section>

<section class="padded grid-spaceAround center capped-section">
    <div class="col-12 mob-m-3">
        <h2>Join our team</h2>
        <p>We're always seeking to grow our family with experienced and driven professionals! Please provide your information below to see how you can fit into our diverse group of government contracting experts.</p>
    </div>
    <div class="col-2_md-6_sm-12 m-t-2">
        <a class="m-b-5 button center" href="/contact-us.html">Get in touch</a>
    </div>
    
</section>
  
{%include banner-2.html%}
              
            
