---
layout: default 
teamtestimonials:
 - headshot_image: ben.jpg 
   text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, illum eos neque consequuntur rerum, facilis aut molestias, repudiandae recusandae non rem reiciendis possimus quia pariatur minima officiis maxime. Sunt, nemo.
   name: Benjamin Webb
 - headshot_image: ben.jpg 
   text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, illum eos neque consequuntur rerum, facilis aut molestias, repudiandae recusandae non rem reiciendis possimus quia pariatur minima officiis maxime. Sunt, nemo.
   name: Benjamin Webb
team:
 - name: Jake Frazer
   title: Account Executive
   photo_image: jake.jpg 
   email: jake@precision.careers
   linkedin: #
 - name: Jake Frazer
   title: Account Executive
   photo_image: jake.jpg 
   email: jake@precision.careers
   linkedin: #
 - name: Jake Frazer
   title: Account Executive
   photo_image: jake.jpg 
   email: jake@precision.careers
   linkedin: #
 - name: Jake Frazer
   title: Account Executive
   photo_image: jake.jpg 
   email: jake@precision.careers
   linkedin: #
 - name: Jake Frazer
   title: Account Executive
   photo_image: jake.jpg 
   email: jake@precision.careers
   linkedin: #
--- 

<section class="bg-image bg-team grid tall-80">
    <div class="col-4 left">
        <div data-aos="fade-right">
        <h1 class="m-t-11 m-l-7 team-heading">Meet the team</h1>
        </div>
    </div>
</section>

<section class="padded grid center capped-width">
    <h2 class="col-12">Something something</h2>
    <p class="col-12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quidem nesciunt cumque expedita accusantium doloremque, debitis doloribus fugiat, animi sit tempore harum, rerum quam quibusdam. Odit eaque quam pariatur nobis.</p>
</section>

            
              
<!-- <section class="padded grid-right">
    <div class="testimonial-slider-container team-testimonial">
    {%for item in page.teamtestimonials%}
    <div class="slider-item"></div>
        <div class="col-3-middle right">
            <img src="/images/{{item.headshot_image}}" class="profile-small">
        </div>
        <div class="col-9 padded">
        <p class="emphasis">
            {{item.text}} </p>
        <p>  <em> - {{item.name}} </em> </p>
        </div>
    </div>
    {%endfor%}
    </div>
</section> -->


<section class="padded grid-spaceAround">
    {%for member in page.team%}
		<div class="col-2 center margin-sides team-member pointer">
            <img src="/images/{{member.photo_image}}">
            <h5 class="m-t-2">{{member.name}}</h5>
            <h6>{{member.title}}</h6>
        </div>
	{%endfor%}

    {%for popup in page.team%}
    <section class="popup" data-pop="{{popup.name}}">
      <div class="grid-spaceBetween">
        <div class="col-5_sm-12">
          <img src="{{popup.photo_image}}" class="popup-photo img-team" />
        </div>
        <div class="col-5-middle">
            <h2>{{popup.name}}</h2>
            <p>Past Companies: {{popup.companies}}</p>
            <p>Email: <a href="mailto:{{popup.email}}"> {{popup.email}}</a></p>
            <p>LinkedIn: <a href="{{popup.linkedin}}"> {{popup.name}}</a></p>
        </div>
        <div class="popupX">  
            <svg viewbox="0 0 100 100">
            <path d="M 0,0 L100,100" />
            <path d="M 100,0 L0,100" />
            </svg>
        </div>
      </div>
    </section>
    {%endfor%}

    <div class="popUpOverlay"></div>

</section>

<section class="padded grid-spaceAround center capped-section">
    <div class="col-12">
        <h2>Join our team</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut nulla qui nostrum. Eligendi facere aperiam beatae laudantium! Possimus consectetur dolore expedita fugit omnis iure, suscipit voluptas fuga consequuntur, odit molestias?</p>
    </div>
    <div class="col-2 m-t-2">
        <a class="m-b-5 button center" href="/contact-us.html">Get in touch</a>
    </div>
    
</section>
  
{%include banner-2.html%}
              
            
