<hr class="col-12" id="blueline-index">
<section class="grid-centered padded blocktext">
    <div class="col-8_sm-12">
      <h2 class="center p-b-5"> Our Contained Search Model</h2>
      <p>PTS’ unique “contained search” model offers a refreshing, flexible alternative to the prevalent “contingent” and “retained” recruitment models. </p>
      <p>Contingent agencies are not obligated to fill a mandate and tend to provide a high volume of resumes to see what might stick with limited investment in proper intake, candidate due diligence, and customer intimacy. </p>
      <p>Retained search firms charge higher fees with a requirement for permanent exclusivity and upfront payments to start a mandate, thus subjecting the client to a high level of commitment and financial risk. </p>
      <p> PTS’ “contained search” model allows us to commit to each mandate and invest resources ensure successful results without exposing our client to disproportionate risk.   </p>
    </div>
</section>
<hr class="col-12" id="blueline-index">