<hr class="col-12 contained-model" id="blueline-index">
<section class="grid-centered padded blocktext">
    <div class="col-8_sm-12">
      <h2 class="center p-b-5"> Our Contained Search Model</h2>
      <p class="contained-model">Our unique “contained search” model offers a refreshing, flexible alternative to the prevalent and often ineffective “contingent” and “retained” recruitment models. </p>
      <p class="contained-model">Contingent search agencies are not obligated to find a candidate, and simply provide you a high volume of resumes to see what might stick. With limited recruiter investment in a proper position intake session, candidate screening and due diligence, and customer intimacy, companies using contained search methods are not hiring the best talent in the market.  </p>
      <p class="contained-model">Retained search firms charge high fees, require permanent exclusivity, demand large upfront payments before any work begins, and recover a majority of their fees before you make a candidate selection. This approach subjects the client to a high level of commitment and financial risk.  </p>
      <p class="contained-model"> Our “contained search” model allows us to commit dedicated resources to each mandate and ensure successful results without exposing our clients to disproportionate risk.   </p>
    </div>
</section>
<hr class="col-12" id="blueline-index">