<div class="col-2-middle mob-hide center logo">
    <a href="/">
        <img class="tall-17-max" src="/images/logo.png">
    </a>
</div>

<!-- <div class="col-12 mob-show center">
    <a href="/">
        <h2 class="logo">Ekonomie Jednoduše</h2>
    </a>
</div> -->

<nav class="col-9_md-12-middle mob-hide web-nav center space-between-navlinks">
    <!-- <a 
        {% if page.url == "/" %}
            class="clickedon"
        {%endif%}
    
    href="/"> Home </a> -->
    <span class="dropdown-nav space-between-navlinks">
        <a  {% if page.url == "/services.html"%} class="clickedon" {%endif%} href="/services.html"> Services </a>
        <div class="dropdown-content">
            <a href="/c-suite.html">Retained C-Suite</a>
            <a href="/contained.html">Contained Executive</a>
            <a href="/technical-cleared.html">Contained Technical</a>
            <a href="/bid-proposal.html">Bid & Proposal</a>
            <a href="/diversity-veteran.html">Diversity & Veteran</a>
        </div>
    </span>

    <span class="dropdown-nav space-between-navlinks">
        <a  {% if page.url == "/sectors.html"%} class="clickedon" {%endif%} href="/sectors.html"> Sectors </a>
        <div class="dropdown-content">
            <a href="/dod.html">Defense</a>
            <a href="/dos.html">Diplomacy</a>
            <a href="/usaid.html">Aid & Development</a>
            <a href="/fedtech.html">Tech/IC</a>
            <a href="/domestic.html">Domestic</a>
            <a href="/international.html">International</a>
        </div>
    </span>

    <span class="dropdown-nav space-between-navlinks">
        <a  {% if page.url == "/candidates.html"%} class="clickedon" {%endif%} href="/candidates.html"> Candidates </a>
        <div class="dropdown-content">
            <a href="/">Careers</a>
        </div>
    </span>

    <span class="space-between-navlinks">
        <a {% if page.url == "/industry-network.html" %}
        class="clickedon"
        {%endif%} href="/industry-network.html"> Testimonials </a>
        </span>

    <span class="space-between-navlinks">
    <a {% if page.url == "/team.html" %}
    class="clickedon"
    {%endif%} href="/team.html"> Team </a>
    </span>

    <span class="dropdown-nav space-between-navlinks">
       <a  {% if page.url == "/blog-archive.html"%} class="clickedon" {%endif%} href="/blog.html"> Blog </a>
        <div class="dropdown-content">
            <a href="/category-industry.html">Industry News</a>
            <a href="/category-talent.html">Talent Innovation</a>
            <a href="/category-contract.html">Contract Awards</a>
            <a href="/category-thought.html">Thought Leadership</a>
            <a href="/category-career.html">Career Support</a>
            <a href="/blog-archive.html">Blog Archive</a>
        </div>
    </span>

    <span class="space-between-navlinks">
    <a {% if page.url == "/contact-us.html" %}
    class="clickedon"
    {%endif%} href="/contact-us.html"> Contact Us </a>
    </span>
</nav>

