<div class="col-2-middle mob-hide center">
    <a href="/">
        <img class="tall-20 svg-logo" src="/images/pts-logo-horizontal-260.svg" style="aspect-ratio: 1.25/1;" alt="Logo: blue diamond with company name Precision Talent Solutions. This image is a button that takes you back to the Home page." date-main="/images/logo.png" loading="lazy">
    </a>
    <div class="lazy-proxy" style="background-image:url(/images/logo.png)"></div>
</div>

<nav class="col-9_lg-12-bottom mob-hide web-nav center space-between-navlinks">
    <!-- <a 
        {% if page.url == "/" %}
            class="clickedon"
        {%endif%}
    
    href="/"> Home </a> -->
    <span class="dropdown-nav space-between-navlinks">
        <a  {% if page.url == "/services"%} class="clickedon" {%endif%} href="/services"> Services </a>
        <div class="dropdown-content">
            <a href="/c-suite">Retained C-Suite</a>
            <a href="/contained">Contained Executive</a>
            <a href="/technical-cleared">Contained Technical</a>
            <a href="/bid-proposal">Bid & Proposal</a>
            <a href="/diversity-veteran">Diversity & Veteran</a>
        </div>
    </span>

    <span class="dropdown-nav space-between-navlinks">
        <a  {% if page.url == "/sectors"%} class="clickedon" {%endif%} href="/sectors"> Sectors </a>
        <div class="dropdown-content">
            <a href="/dod">Defense</a>
            <a href="/dos">Diplomacy</a>
            <a href="/usaid">Aid & Development</a>
            <a href="/fedtech">Tech/IC</a>
            <a href="/domestic">Domestic</a>
            <a href="/international">International</a>
        </div>
    </span>

    <span class="dropdown-nav space-between-navlinks">
        <a  {% if page.url == "/candidates"%} class="clickedon" {%endif%} href="/candidates"> Candidates </a>
        <div class="dropdown-content">
            <a href="/">Careers</a>
        </div>
    </span>

    <span class="space-between-navlinks">
        <a {% if page.url == "/industry-network" %}
        class="clickedon"
        {%endif%} href="/industry-network"> Testimonials </a>
        </span>

    <span class="space-between-navlinks">
    <a {% if page.url == "/team" %}
    class="clickedon"
    {%endif%} href="/team"> Team </a>
    </span>

    <span class="dropdown-nav space-between-navlinks">
       <a  {% if page.url == "/blog"%} class="clickedon" {%endif%} href="/blog"> Blog </a>
        <div class="dropdown-content">
            <a href="/category-industry">Industry News</a>
            <a href="/category-talent">Talent Innovation</a>
            <a href="/category-contract">Contract Awards</a>
            <a href="/category-thought">Thought Leadership</a>
            <a href="/category-career">Career Support</a>
            <a href="/blog-archive">Blog Archive</a>
        </div>
    </span>

    <span class="space-between-navlinks">
    <a {% if page.url == "/contact-us" %}
    class="clickedon"
    {%endif%} href="/contact-us"> Contact Us </a>
    </span>
</nav>

