<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->

<div class="col-4_md-6_xs-12 post-item padded-1">
    <a href="{{ post.url }}" class="bg-image square display-block" style="background-image:url( '{{ post.featured_image }}' );"></a>
    <div class="padded-1">
        <a href="/{{post.category-link}}"> 
            {% for item in post.categories %}
            <span class="tag"> {{item}} </span></a>
        {% endfor %}
        
        <a href="{{ post.url }}">
            <h2 class="margin-t-1"> {{ post.title }} </h2>
        <p> {{ post.description }} </p>
        <span> Read More </span></a>
    </div>
</div>