
<section id="why-pts" class="padded grid-spaceAround center">
    <h2 class="col-12 p-b-3 p-t-2 blue bold">What we can help you with</h2>
    {%for item in page.threes%}
    <div class="col-4_sm-12 why-pts threes relative">
        <img class="img-max" src="/images/blank-.png">
        <div class="fixed-three-sentence">
        <h3 class="title-three left light-blue bold">{{item.title}}</h3>
        <p class="line-height-inherit font-1-4">{{item.text}}</p>
        <ul class="font-1-4 standard-list">
          <li class="font-1-4">{{item.li-1}}</li>
          <li class="font-1-4">{{item.li-2}}</li>
          <li class="font-1-4">{{item.li-3}}</li>
        </ul>
        </div>
    </div>
    {%endfor%}

</section>