<div class="sidenav-parent">
<nav class="side-nav mob-hide" id="side-nav">
    <a href="/dod.html">Defence</a>
    <a href="/dos.html">Diplomacy</a>
    <a href="/usaid.html">Aid & Development</a>
    <a href="/fedtech.html">Tech/IC</a>
    <a href="/domestic.html">Domestic</a>
    <a href="/international.html">International</a>
  </nav>
</div>

<script>
 let body = document.querySelector('body')
let header = document.querySelector('header');
let footer = document.querySelector('footer');
let sideNav = document.querySelector('#side-nav');

console.log('working')
console.log(body)
console.log(header)
console.log(footer)
console.log(sideNav)

function shiftSideNav() {
  let totalSpace = body.offsetHeight
  // console.log(`${totalSpace}px`)
  if (header.offsetHeight + header.getBoundingClientRect().top > 0 )
  {
    totalSpace = totalSpace + (header.offsetHeight + header.getBoundingClientRect().top)
  }
  // console.log(footer.offsetHeight + footer.getBoundingClientRect().top)


   if (footer.getBoundingClientRect().top < body.offsetHeight) {
      console.log('i can see footer')
    totalSpace = totalSpace - (body.offsetHeight - footer.getBoundingClientRect().top)
  }

  let usableGap = totalSpace - sideNav.offsetHeight;

  sideNav.style.top = `${usableGap/2}px`

  console.log(totalSpace)
}

body.addEventListener('scroll', shiftSideNav)
body.addEventListener('resize', shiftSideNav)
</script>