<footer class="grid-spaceAround center footer" id="footer" >
    <a href="/" class="col-2_md-4_sm-7 m-r-4">
        <img src="/images/logo.png">
    </a>
    <div class="col-2_md-6 left m-neg-2 mob-hide tablet-hide">
        <h4>Services</h4>
        <ul>
           <a href="/c-suite.html"><li>C-Suite Search</li></a>
           <a href="/contained.html"><li>Contained Search</li></a>
            <a href="/technical-cleared.html"><li>Technical/Cleared</li></a>
            <a href="/bid-proposal.html"><li>Bid & Proposal</li></a>
            <a href="/diversity-veteran.html"><li>Diversity & Veteran</li></a>
        </ul>
    </div>
    <div class="col-2_md-6 m-neg-2 left mob-hide tablet-hide">
        <h4>Sectors</h4>
        <ul>
            <a href="/dod.html"><li>Defense</li></a>
            <a href="/dos.html"><li>Diplomacy</li></a>
            <a href="/usaid.html"><li>Aid & Development</li></a>
            <a href="/fedtech.html"><li>Tech/IC</li></a>
            <a href="/domestic.html"><li>Domestic</li></a>
            <a href="/international.html"><li>International</li></a>
        </ul>
    </div>
    <div class="col-2_md-6 m-l-neg left mob-hide tablet-hide">
        <h4>Industry</h4>
        <ul>
            <a href="/candidates.html"><li>Candidates</li></a>
            <a href="#"><li>Careers</li></a>
            <a href="/industry-network.html"><li>Testimonials</li></a>
            <a href="/team.html"><li>Team</li></a>
        </ul>
    </div>
    <div class="col-2_md-6 m-l--7 left mob-hide tablet-hide">
        <h4>Blog</h4>
        <ul>
            <a href="/category-industry.html"><li>Industry News</li></a>
            <a href="/category-contract.html"><li>Contract Awards</li></a>
            <a href="/category-thought.html"><li>Thought Leadership</li></a>
            <a href="/category-talent.html"><li>Talent Innovation</li></a>
            <a href="/category-career.html"><li>Career Support</li></a>
        </ul>
    </div>
    <div class="col-2_md-8 m-l-neg">
        <h4 class="p-b-5 mob-hide">Contact Us</h4>
        <a class="footer-contact" href="#">email@precision.careers</a>
        <a class="socials inline center" href="https://www.linkedin.com/company/precision-talent-solutions" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="socials inline center m-t-6" href="https://www.facebook.com/ptsfic" target="_blank"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="col-12 center copyright">
        <i class="fa fa-copyright"></i> 2023 Design and code by Precision Talent Solutions 
    </div>
</footer>

<!-- do it as an ul -->

<!-- Ade: I had to position the footer better, so I create dthe class m-neg-2 and deleted the p-l-2 -->