<footer class="grid-spaceAround center footer" id="footer" >
    <div class="col-2 m-r-4">
        <img src="/images/logo.png">
    </div>
    <div class="col-2 p-l-2 left">
        <h4>Services</h4>
        <ul>
           <a href="#"><li>C-Suite Search</li></a>
           <a href="#"><li>Contained Search</li></a>
            <a href="#"><li>Technical talent</li></a>
            <a href="#"><li>Bid & Proposal</li></a>
            <a href="#"><li>Diversity & Veteran</li></a>
        </ul>
    </div>
    <div class="col-2 p-l-2 m-l--2 left">
        <h4>Sectors</h4>
        <ul>
            <a href="#"><li>DoD</li></a>
            <a href="#"><li>DoS</li></a>
            <a href="#"><li>USAID</li></a>
            <a href="#"><li>IC</li></a>
            <a href="#"><li>Fed Tech</li></a>
        </ul>
    </div>
    <div class="col-2 m-l-neg left">
        <h4>Industry</h4>
        <ul>
            <a href="#"><li>Candidates</li></a>
            <a href="#"><li>Customers</li></a>
            <a href="#"><li>Gallery</li></a>
        </ul>
    </div>
    <div class="col-2 p-l-2 m-l--7 left">
        <h4>Blog</h4>
        <ul>
            <a href="#"><li>Category 1</li></a>
            <a href="#"><li>Category 2</li></a>
            <a href="#"><li>Category 3</li></a>
            <a href="#"><li>Category 4</li></a>
            <a href="#"><li>Category 5</li></a>
            <a href="#"><li>Category 6</li></a>
        </ul>
    </div>
    <div class="col-2 m-l-neg">
        <h4>Contact Us</h4>
        <a class="footer-contact" href="#">email@precision.careers</a>
        <a class="footer-contact" href="#">+00 123 456 789</a> <br>
        <a class="socials inline center" href="#"><i class="fab fa-linkedin"></i></a>
        <a class="socials inline center" href="#"><i class="fab fa-facebook-square"></i></a>
    </div>
</footer>

<!-- do it as an ul -->