<header id="header" class="grid-spaceAround">
    

    {%include nav.html%}

    <div class="col-4-middle right">
        <a class="hamburger-button mob-show"> &#9776; </a>
    </div>
    <hr class="col-12" id="blueline">
</header>

<div class="mobile-menu"> 
    <nav> 
        <a href="/"> Home </a>
        <a href="/services.html"> Services </a>
        <a href="/sectors.html"> Sectors </a>
        <a href="/candidates.html"> Candidates </a>
        <a href="/industry-network.html"> Testimonials </a>
        <a href="/team.html"> Team </a>
        <a href="/blog.html"> Blog </a>
        <a href="/contact-us.html"> Contact Us </a>
    </nav>
</div> 