<header id="header" class="grid-spaceAround bg-header">
    

    {%include nav.html%}

    <div class="col-3-middle mob-show center logo">
        <a href="/">
            <img class="tall-17-max" src="/images/logo.webp" style="aspect-ratio: 1.25/1;" alt="Logo: blue diamond with company name Precision Talent Solutions. This image is a button that takes you back to the Home page." date-main="/images/logo.png" loading="lazy">
        </a>
        <div class="lazy-proxy" style="background-image:url(/images/logo.png)"></div>
    </div>

    <div class="col-4-middle right">
        <div class="burger-button mob-show">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
    </div>
    <hr class="col-12" id="blueline">
</header>

<div class="burger-menu"> 
    <nav> 
        <a href="/"> Home </a>
        <a href="/services.html"> Services </a>
        <a href="/sectors.html"> Sectors </a>
        <a href="/candidates.html"> Candidates </a>
        <a href="/industry-network.html"> Testimonials </a>
        <a href="/team.html"> Team </a>
        <a href="/blog.html"> Blog </a>
        <a href="/contact-us.html"> Contact Us </a>
    </nav>
</div> 