---
layout: default
---

<style>body{max-height:100vh;}</style>
<section class="grid padded mob-not-p capped-width-wide">

    <div class="padded-1 col-9_md-8_sm-12 blog-content">

        <div class="intro padded-1 mob-padded-post">

            {% for item in page.categories %}
                <span class="tag"> {{ item }}</span>
            {% endfor %}
            
            <h1> {{ page.title }} </h1>
            
            <p class="post-info"> by {{ page.author }} | {{ page.date | date_to_string }} </p>
         
        </div>
        <div class="padded-1 mob-padded-post blocktext">

            {{content}}

        </div>
        
        {% include social-share.html %}

    </div>

    <!------------------ SIDEBAR  --------------------------------->
    <aside class="padded-1 col-3_md-4_sm-12-top sidebar">
        
        <div class="sidebar-item padded-1">

            <h4> About PTS </h4>
            <p>We offer in-depth expertise and a wide range of
                services focused on supplying experienced, qualified talent for government
                contracting positions.</p> 

        </div>

        <div class="sidebar-item padded-1">
            <h4> Recent Posts </h4>

            <nav class="recent-posts-nav"> 
                {% for post in site.posts limit:4 %}
                     <a href="{{post.url}}"> {{post.title}}</a>
                {% endfor %}
            </nav>

        </div>

        <div class="sidebar-item padded-1">
            <h4> Explore Categories </h4>

            <nav> 
                {% for archive in site.archives limit:8 %}
                     <a href="{{archive.url}}" class="tag"> {{archive.category}}</a>
                {% endfor %}
            </nav>

        </div>
        
    </aside> <!-- end sidebar-->

</section>

{% include related-posts.html %}