--- 
layout: default 
--- 
<section class="bg-sector tall-85 padded-3 white center" style="background-image: url('{{page.banner-image}}')">
    <div class="grid-spaceAround m-t-6">
      <h1 class="col-12 p-b-2">{{page.h1}}</h1>
      <p class="col-8-md-12">{{page.description}}</p>
      </div>
</section>

<section class="padded-top grid-spaceAround center bg-process-blue white m-t-5">
    <h2 class="col-12 m-b-1-2 m-t-5">About Us</h2>
    <p class="col-10 blocktext p-b-2">{{page.about-1}}</p>
    <p class="col-10 blocktext p-b-2"> {{page.about-2}}</p>
</section>

<section class="padded grid capped-width center">
    <h2 class="col-12 p-t-2 m-b-1 index-titles bold">Metrics</h2>
    <img src="/images/numbers.png" alt="Countries where the PTS team resides: USA, UK, Czechia, Belgium, Switzerland, Poland, Kosovo, Bosnia, Turkey, UAE, Germany." date-main="/images/compresed-map.webp" loading="lazy" class="col-12 img-max">
</section>

<hr class="col-12" id="blueline-index">

<section class="padded grid capped-width center">
    <h2 class="col-12 p-t-2 m-b-1 index-titles bold">See all facets of a candidate</h2>
    <img src="/images/funnel.png" alt="Countries where the PTS team resides: USA, UK, Czechia, Belgium, Switzerland, Poland, Kosovo, Bosnia, Turkey, UAE, Germany." date-main="/images/compresed-map.webp" loading="lazy" class="col-12 img-max">
</section>

<section class="grid-spaceAround padded center">
    <!-- <h3 class="center col-12">Example video interview</h3> -->
<video class="center col-6" width="320" height="240" controls>
    <source src="{{page.video-mp4}}" type="video/mp4">
    <source src="{{page.video-ogg}}" type="video/ogg">
</video> 
</section>

<section class="grid-spaceAround padded">
    <h1 class="center p-b-5 col-12"> Our Services</h1>
    <div class="col-2_md-3_sm-12 mob-m-b-3 padded-sides">
        <img src="/images/csuite-icon.png" class="m-b-1 service-icon" alt="Icon representing the C-Suite positions that PTS recruits for depicting an org chart with a magnifying glass on the top one.">
        <a href="/c-suite.html"><h3 class="bold">Retained C-Suite Search</h3>
        <p>PTS delivers a fully retained, highly consultative search to bring you the top industry talent. We partner closely with executive stakeholders for C-Suite roles to understand the positions' rationale.  </p></a>
    </div>
    <div class="col-2_md-3_sm-12 mob-m-b-3 padded-sides">
        <img src="/images/contained-icon.png" class="m-b-1 service-icon" alt="Icon representing the Executive positions that PTS recruits for depicting a target with a person inside.">
        <a href="/contained.html"><h3 class="bold">Contained Executive Search</h3>
        <p>The core of any business is hiring and retaining highly experienced management teams. Our unique technological approach provides you an in-depth analysis of each candidate we scout, ensuring an optimal hiring process.  </p></a>
    </div>
    <div class="col-2_md-3_sm-12 mob-m-b-3 padded-sides">
        <img src="/images/technical-icon.png" class="m-b-1 service-icon" alt="Icon representing the Technical and Cleared positions that PTS recruits for depicting a magnifying glass and ID badge.">
        <a href="/technical-cleared.html"><h3 class="bold">Technical/Cleared Talent</h3>
        <p>We specialize in "purple unicorn" technical roles, such as IT, Shared Services, Medical, and Classified positions. From NATO Secret to TS/SCI Full Poly, we deeply understand the nuances of penetrating this niche talent market.  </p></a>
    </div>
    <div class="col-2_md-3_sm-12 mob-m-b-3 padded-sides">
        <img src="/images/bid-icon.png" class="m-b-1 service-icon" alt="Icon representing the Bid and Proposal support that PTS offers depicting a RFP poposal.">
        <a href="/bid-proposal.html"><h3 class="bold">Bid & Proposal Support </h3>
        <p>PTS bolts onto your Capture teams to find the most compliant and compelling talent for your bids. We lead an intense recruitment campaign, conduct compliance checks, and manage the Letter of Commitment process.  </p></a>
    </div>
    <div class="col-2_md-3_sm-12 mob-m-b-3 padded-sides">
        <img src="/images/diversity-icon.png" class="m-b-1 service-icon" alt="Icon representing the Diversity and Veteran positions that PTS recruits for depicting three different people.">
        <a href="diversity-veteran.html"><h3 class="bold">Diversity & Veteran Recruiting</h3>
        <p>The PTS team is highly diverse, with thirty-five members across eleven countries. We are a Veteran Owned Small Business, working closely with American Corporate Partners and other veterans' groups to help service members transition from the uniform to the board room.</p></a>
    </div>
</section>

<!-- <section class="padded standard-list grid-spaceAround" id="sales-pitch">
    <h3 class="col-12 center">{{page.experience-headline}}</h3>
    <ul class="col-3 justify">
        {%for performance in page.performances%}
        <li>{{performance.position}}
        </li>
        {%endfor%}
    </ul>
</section> -->

<section class="padded" id="b-p">
	<div class="capped-width grid-spaceAround">
		<h3 class="col-12 p-b-5 center">{{page.experience-headline}}</h3>
     <div class="col-5_sm-12 center">
      <ul class="left">
        {%for performance in page.performances%}
        <li>{{performance.position}}
        </li>
        {%endfor%}
      </ul>
    </div>
    <div class="col-5_sm-12 center">
    <ul class="left">
        {%for performance in page.performances-right%}
        <li>{{performance.position}}
        </li>
        {%endfor%}
    </ul>
  </div>
 	</div>

  
</section>


{%include contained-terms.html%}

<section class="padded grid capped-width center">
    <h2 class="col-12 p-t-2 m-b-1 index-titles bold">Pricing</h2>
    <img src="/images/pricing.png" alt="Countries where the PTS team resides: USA, UK, Czechia, Belgium, Switzerland, Poland, Kosovo, Bosnia, Turkey, UAE, Germany." date-main="/images/compresed-map.webp" loading="lazy" class="col-12 img-max">
</section>

<section class="padded bg-ausalunch bg-image tall-100 mob-tall-60">
  <h2 class="center white p-b-5">Voice of our Customers</h2>
    <div class="center testimonial-slider-container-index team-testimonial">
    {%for testimonial in page.customers%}
    <div class="slider-item">
      <div class="grid-spaceAround center">
        <div class="col-3_sm-8-middle" id="team-testimonial">
            <img src="{{testimonial.headshot_image}}" class="profile-small" alt="{{testimonial.headshot-alt}}">
        </div>
        <div class="col-12 padded white" id="testimonial-text">
        <p class="italic p-b-2">
            "{{testimonial.text}}" </p>
        <p>  - {{testimonial.name}}  </p>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
</section>  


{%include benefits.html%}

<hr class="col-12" id="blueline">